<!--<div class="text-center" style="text-align: right;margin-right: 40%">-->
  <!--<div class="row">-->
    <!--<div class="col s12">-->
      <!--Username-->
      <!--<div class="input-field inline">-->
        <!--<input  type="text" class="validate" name="username" autocomplete="off" [(ngModel)]="userCredentials.username">-->
        <!--<label  data-error="wrong" data-success="right"></label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col s12">-->
      <!--Password-->
      <!--<div class="input-field inline">-->
        <!--<input  type="password" id="password"  name="passwordUser" [(ngModel)]="userCredentials.password">-->
        <!--<label  data-error="wrong" data-success="right"></label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col s12">-->
      <!--Email-->
      <!--<div class="input-field inline">-->
        <!--<input  type="email" id="email" class="form-control validate" name="userEmail" [(ngModel)]="userCredentials.email">-->
        <!--<label  data-error="wrong" data-success="right"></label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="text-center">-->
  <!--<div class="row">-->
    <!--<div class="col-md-2"  style="margin-left: 25%">-->
      <!--<p>Role assigned</p>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<div class="relative">-->
        <!--<select class="form-control" name='recommend' [(ngModel)]="roleUser">-->
          <!--<option *ngFor="let role of rolesFor" [ngValue]="roleUser.id==role.id ? roleUser:role" >-->
            <!--{{role.name}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<hr>-->
<!--<div class="text-center" style="text-align: right;margin-right: 40%">-->

  <!--<div class="row">-->
    <!--<div class="col s12">-->
      <!--IDNP-->
      <!--<div class="input-field inline">-->
        <!--<input  type="number"  id="idnp" required minlength="13" name="idnp" [(ngModel)]="userCredentials.idnp">-->
        <!--<label  data-error="wrong" data-success="right"></label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col s12">-->
      <!--Phone-->
      <!--<div class="input-field inline">-->
        <!--<input  type="number" class="validate" name="userPhone" [(ngModel)]="userCredentials.phone">-->
        <!--<label  data-error="wrong" data-success="right"></label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col s12">-->
      <!--First name-->
      <!--<div class="input-field inline">-->
        <!--<input  type="text" class="validate"  name="userName" [(ngModel)]="userCredentials.firstname">-->
        <!--<label  data-error="wrong" data-success="right"></label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col s12">-->
      <!--Last name-->
      <!--<div class="input-field inline">-->
        <!--<input  type="text" class="validate" name="userNameLast" [(ngModel)]="userCredentials.lastname">-->
        <!--<label  data-error="wrong" data-success="right"></label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->



<!--</div>-->

<!--<div *ngIf="isEmployee(roleUser)">-->
  <!--<hr>-->
  <!--<div class="text-center" style="text-align: right;">-->
    <!--<div class="row">-->
      <!--<div class="col-md-2"  style="margin-left: 25%">-->
        <!--<p>Biroul Executorului</p>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="relative">-->
          <!--<select class="form-control" name='recommend'  >-->
            <!--<option *ngFor="let org of userOrganizations"  >-->
              <!--{{org.name}}-->
            <!--</option>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="text-center">-->
    <!--<div class="row">-->
      <!--<div class="col-md-2"  style="margin-left: 25%">-->
        <!--<p>Functie</p>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="relative">-->
          <!--<select class="form-control" name='recommend' >-->
            <!--<option *ngFor="let function of userWorkFunctions" >-->
              <!--{{function.name}}-->
            <!--</option>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<!--<button type="submit" (click)="submitToServer()" class="btn btn-default"   style="float: right">-->
  <!--Submit-->
<!--</button>-->
<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">

    <form class="form-horizontal" role="form">
      <div class="container" style="width: 90%">
        <p-panel header="Main Credentials" [ngClass]="'test_background'" id="test_background" >
          <div class="container">
            <div class="form-group">
              <label class="col-md-3 control-label">Username</label>
              <div class="col-md-9">
                <input type="text" class="form-control" value="&nbsp;" name="username1" [(ngModel)]="userCredentials.username"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control" value="&nbsp;" name="password1" [(ngModel)]="userCredentials.password"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Email</label>
              <div class="col-md-9">
                <input type="email" class="form-control" placeholder="&nbsp;" name="userEmail"   [(ngModel)]="userCredentials.email"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Role assigned</label>
              <div class="col-md-9">
                <select class="form-control select" style="width: 75%" name='recommend' [(ngModel)]="roleUser">
                  <option *ngFor="let roles of userRoles" [ngValue]="roles">
                    {{roles.role_name}}
                  </option>
                </select>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label class="col-md-3 control-label">IDNP</label>
              <div class="col-md-9">
                <input type="email" class="form-control" placeholder="&nbsp;" name="userIdnp"   [(ngModel)]="userCredentials.idnp"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Phone</label>
              <div class="col-md-9">
                <input type="email" class="form-control" placeholder="&nbsp;" name="userPhone"   [(ngModel)]="userCredentials.phone"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">First name</label>
              <div class="col-md-9">
                <input type="email" class="form-control" placeholder="&nbsp;" name="userName"   [(ngModel)]="userCredentials.firstname"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Last name</label>
              <div class="col-md-9">
                <input type="email" class="form-control" placeholder="&nbsp;" name="userNameLast"   [(ngModel)]="userCredentials.lastname"/>
              </div>
            </div>
          </div>

        </p-panel>
        <br>

        <!--<div *ngIf="isEmployee(roleUsr)">-->
        <div>

          <p-panel header="Work Functions and Role assigned">
            <div class="container">
              <div class="form-group">
                <label class="col-md-3 control-label">Birou Executoriu</label>
                <div class="col-md-9">
                  <select class="form-control select" style="width: 75%" name='recommend' [(ngModel)]="organizationUser">
                    <option *ngFor="let org of userOrganizations"  [ngValue]="org" >
                      {{org.licence_code}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group" *ngIf="userWorkFunctions!=''">
                <label class="col-md-3 control-label">Functie</label>
                <div class="col-md-9">
                  <select class="form-control select" style="width: 75%" name='recommend' [(ngModel)]="userFunctions">
                    <option *ngFor="let work_function of userWorkFunctions"  [ngValue]="work_function">
                      {{work_function.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

          </p-panel>
        </div>


      </div>

    </form>

    <br>
    <div class="text-center">
      <a class="waves-effect waves-light btn"  (click)="submitToServer()">Save</a>
      <a class="waves-effect waves-light btn" style="background-color: red!important;color: white" routerLink="/adminDashboard/users">Cancel</a>
    </div>
    <br>

    <br><br><br><br><br>

  </div>
  <div class="ui-g-1"></div>
</div>

