
<!--<div class="container" style="max-width: 1500px;width: 100%">-->
  <!--<span style="font-size: xx-large;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500">{{licence_code}} / Utilizători</span>-->
<!--</div>-->
<div class="row">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600"><span *ngIf="id_org != null ">{{licence_code}} /</span> Utilizatori</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="createUserOrganization()" style="float: right;margin-top: 2%;background-color: #5CB85C;color: white" >New User</button>
  </div>
</div>
<br>
  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt [value]="results" [paginator]="true"
               [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" *ngIf="results" [immutable]=false >


    <p-column   [field]="userName"  >
      <ng-template pTemplate="header">
        UserName
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        <span style="font-size: small">{{con['userName']}}</span>
      </ng-template>
    </p-column>


    <p-column   field="person_name"  >
      <ng-template pTemplate="header">
        Nume/Prenume
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <span style="font-size: small;word-wrap: break-word" > {{con['person_name']}}</span>

      </ng-template>
    </p-column>


    <p-column   field="role"  >
      <ng-template pTemplate="header">
        Role
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <span style="font-size: small;word-wrap: break-word">{{con['role_name']}}</span>

      </ng-template>
    </p-column>


    <p-column   field="phone"  >
      <ng-template pTemplate="header">
        Telefon
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <span style="font-size: small">{{con['phone']}}</span>

      </ng-template>
    </p-column>



    <p-column  field="email"  [style]="{'width':'15%'}">
      <ng-template pTemplate="header">
        Email
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body" >
        <span  style="font-size: small;word-break: break-all">{{con['email']}}</span>
      </ng-template>
    </p-column>



    <p-column  field="created_date" [style]="{'width':'12%'}">
      <ng-template pTemplate="header">
        Created date
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <span style="font-size: small"> {{con['created_date']}}</span>

      </ng-template>
    </p-column>


    <p-column   field="is_active"  >
      <ng-template pTemplate="header">
        Active
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body" >
        <p-checkbox name="groupname" [(ngModel)]="con['is_active']"  (click)="activatedUser(con)" binary="true" ></p-checkbox>

      </ng-template>
    </p-column>


    <p-column [style]="{'width':'15%'}" >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">

        <button   class="btn btn-default" (click)="editUser(con['id_user']);"  style="background-color: white!important;;text-align: center">
          <span style="color: #1e439b" class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-default" style="background-color: white!important;" (click)="deleteUser(con['id_user'])">
          <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
        </button>
      </ng-template>
    </p-column>
  </p-dataTable>

<p-confirmDialog></p-confirmDialog>
