<!--<div style="padding-left: 1%">-->
<!--<h2 style="font-family: 'Segoe UI',sans-serif;color: black;text-align: left">Speze</h2>-->
<!--</div>-->
<div class="row" style="margin-right: 0!important;margin-left: 0!important;">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Altele</span>
  </div>
  <div class="col-md-6">
    <button pButton type="button" (click)="showDialog(speze)" label="Crează categorie" style="float: right;margin-top: 1%"  class="ui-button-success"></button>
  </div>
</div>
<hr style="width: 98%">
<div class="container" style="max-width: 100%;width: 100%!important;">
  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner"  [paginator]="true" [value]="speze_result"
               [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true"  [immutable]=false >


    <p-column  [style]="{'width':'15%'}" field="licence_code"    >
      <ng-template pTemplate="header">
        Denumire Grupa
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['name']}} {{con['name_service']}}

      </ng-template>
    </p-column>

    <p-column  [style]="{'width':'15%'}" field="name"   >
      <ng-template pTemplate="header">
        Stare
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <p-checkbox name="groupname"  binary="true" [style]="{'margin-left' : '45%'}" [(ngModel)]="con['is_active']"></p-checkbox>

      </ng-template>
    </p-column>


    <p-column  [style]="{'width':'20%'}"    >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">

        <button  class="btn btn-default" style="background-color: white!important;width: 23%;text-align: center" (click)="showDialog(con)">
          <span style="color: #1e439b" class="glyphicon glyphicon-edit" ></span>
        </button>
        <button class="btn btn-default" style="background-color: white!important;width: 23%" (click)="serviciiSpezeNavigate(con['id'])">
          <span style="color: #1e439b" class="glyphicon glyphicon-plus" ></span>
        </button>
      </ng-template>
    </p-column>
    <!--</p-row>-->
  </p-dataTable>

</div>
<p-confirmDialog></p-confirmDialog>
<p-dialog header="Categorie" [(visible)]="display" modal="modal" width="500" [responsive]="true" >
  <div class="ui-g">
    <div class="ui-g-2">
      <span>Denumere</span>
    </div>
    <div class="col-md-10">
      <input type="text"  class="form-control" value="&nbsp;" name="code" style="width:100%!important;border: solid 1px lightgray;height: 2rem" [(ngModel)]="edit_speze.name"/>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-check"  label="Salvează" (click)="saveSpeze()"></button>
    <button type="button" pButton icon="fa-close"  label="Anulează" (click)="dismissModal()"></button>
  </p-footer>
</p-dialog>
