<style>
  .loader {
    border: 20px solid #f3f3f3;
    border-radius: 50%;
    border-top: 20px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; / Safari /
  animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<div class="ui-g">

  <div class="ui-g-5">
    <span style="font-size: xx-large;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500">{{case_number}}</span>
  </div>

</div>
<div *ngIf="if_borderou == true">
  <div *ngIf="show_topBar === true">
    <div class="ui-g" >
      <div class="ui-g-3" style="padding: 0em;">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>INIȚIERE</th>
          </tr>
          </thead>
          <tbody >

          <tr  *ngFor="let item of initiere" [ngClass]="{active: isActive(item)}" (click)="checkValue(item)">
            <td  id="item.id"  style="cursor: pointer!important;">{{item.name}}</td>
          </tr>

          </tbody>
        </table>
      </div>

      <div class="ui-g-3" style="padding: 0em;">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>INTERDICTII</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of interdictii"   >
              <!--[ngClass]="{active: isActive(item)}" -->
              <!--(click)="checkValue(item)"-->

            <td style="cursor: pointer!important;">{{item.name}}</td>
              <!--(click)="checkValue(item)" -->

          </tr>
          </tbody>
        </table>
      </div>

      <div class="ui-g-3" style="padding: 0em;">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>CHELTUIELI</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of cheltuieli" [ngClass]="{active: isActive(item)}" (click)="sendChelt(item)">
            <td
              (click)="sendChelt(item)"
              style="cursor: pointer!important;">{{item.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="ui-g-3" style="padding: 0em;">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>FINISARE</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of finisare">
            <td style="cursor: pointer!important;">{{item.name}}</td>
              <!--(click)="checkValue(item)"-->

          </tr>
          </tbody>
        </table>
      </div>



    </div>




    <p *ngIf="selected.name == 'Refuz'" style="font-family: 'Segoe UI',sans-serif;font-size: large;font-weight: 500">Cauza refuzului</p>
    <p *ngIf="selected.name == 'Intentare'" style="font-family: 'Segoe UI',sans-serif;font-size: large;font-weight: 500">Intentare
    <p *ngIf="selected.name == 'Citatie'" style="font-family: 'Segoe UI',sans-serif;font-size: large;font-weight: 500">Citație</p>
    <p *ngIf="selected.name == 'Continuare'" style="font-family: 'Segoe UI',sans-serif;font-size: large;font-weight: 500">Continuare</p>
    <p *ngIf="selected.name == 'Preluare'" style="font-family: 'Segoe UI',sans-serif;font-size: large;font-weight: 500">Preluare</p>

    <hr>
    <div *ngIf="selected.name == 'Refuz'">
      <div class="radio"   style="opacity: 1!important;" *ngFor="let cause of cases" >
        <label>
          <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' (change)="onSelectionChangeCase(cause)" name="cause_name"  />
          <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{cause.name}}</span>
        </label>
      </div>
    </div>


    <div *ngIf="selected.name == 'Preluare'">
      <div class="ui-g">
        <div class="ui-g-2"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Data</label></div>
        <div class="ui-g-6">

          <mat-form-field>
            <input matInput  [disabled]="stateType" class="controll" [matDatepicker]="picker2"  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;margin: 0!important;" [(ngModel)]="coming_date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-2"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align:sub">Ora</label></div>
        <div class="ui-g-6"> <input type="time" style="height: 2rem;width: 15%;border: 1px solid darkgray;margin: 0!important;" [(ngModel)]="coming_time"></div>
      </div>
    </div>


<div *ngIf="selected.name == 'Intentare'">
  <div class="ui-g" style="background-color: rgb(74, 137, 220);text-align: right!important;width: 100%;padding-top: 4px;height: 45px">
    <div  style="margin-left: 48%">
      <button class="btn btn-default"   style="background-color: white!important" (click)="loadTemplate()">
        <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Crează document</span></span>
      </button>
    </div>
    &nbsp;
    <div   style="margin-right: 0!important;">
      <button class="btn btn-default"   style="background-color: white!important"  (click)="backButtonFuncToDetail()">
        <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-step-backward"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Înapoi</span></span>
      </button>
    </div>
  </div>


</div>


    <div *ngIf="selected.name == 'Citatie'">
      <div class="ui-g" style="background-color: rgb(74, 137, 220);text-align: right!important;width: 100%;padding-top: 4px;height: 45px">
        <div  style="margin-left: 48%">
          <button class="btn btn-default"   style="background-color: white!important" (click)="loadTemplate()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Crează document</span></span>
          </button>
        </div>
        &nbsp;
        <div   style="margin-right: 0!important;">
          <button class="btn btn-default"   style="background-color: white!important"  (click)="backButtonFuncToDetail()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-step-backward"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Înapoi</span></span>
          </button>
        </div>
      </div>


    </div>

    <div *ngIf="selected.name == 'Continuare'">
      <div class="ui-g" style="background-color: rgb(74, 137, 220);text-align: right!important;width: 100%;padding-top: 4px;height: 45px">
        <div  style="margin-left: 48%">
          <button class="btn btn-default"   style="background-color: white!important" (click)="loadTemplate()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Crează document</span></span>
          </button>
        </div>
        &nbsp;
        <div   style="margin-right: 0!important;">
          <button class="btn btn-default"   style="background-color: white!important"  (click)="backButtonFuncToDetail()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-step-backward"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Înapoi</span></span>
          </button>
        </div>
      </div>


    </div>


    <div *ngIf="selected.name == 'Refuz'">
      <div class="ui-g" style="background-color: rgb(74, 137, 220);text-align: right!important;width: 100%;padding-top: 4px;height: 45px">
        <div  style="margin-left: 48%">
          <button class="btn btn-default"   style="background-color: white!important" (click)="loadTemplate()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Crează document</span></span>
          </button>
        </div>
        &nbsp;
        <div   style="margin-right: 0!important;">
          <button class="btn btn-default"   style="background-color: white!important"  (click)="backButtonFuncToDetail()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-step-backward"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Înapoi</span></span>
          </button>
        </div>
      </div>


    </div>


    <div *ngIf="selected.name == 'Preluare'">
      <div class="ui-g" style="background-color: rgb(74, 137, 220);text-align: right!important;width: 100%;padding-top: 4px;height: 45px">
        <div  style="margin-left: 48%">
          <button class="btn btn-default"   style="background-color: white!important" (click)="loadTemplate()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Crează document</span></span>
          </button>
        </div>
        &nbsp;
        <div   style="margin-right: 0!important;">
          <button class="btn btn-default"   style="background-color: white!important"  (click)="backButtonFuncToDetail()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-step-backward"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Înapoi</span></span>
          </button>
        </div>
      </div>


    </div>


    <div *ngIf="selected.name != 'Preluare' && selected.name != 'Refuz' && selected.name != 'Continuare' && selected.name != 'Citatie' && selected.name != 'Intentare' ">
      <div class="ui-g" style="background-color: rgb(74, 137, 220);text-align: right!important;width: 100%;padding-top: 4px;height: 45px">
        <div  style="margin-left: 48%">
          <button class="btn btn-default"   style="background-color: white!important" (click)="loadTemplate()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Crează document</span></span>
          </button>
        </div>
        &nbsp;
        <div   style="margin-right: 0!important;">
          <button class="btn btn-default"   style="background-color: white!important"  (click)="backButtonFuncToDetail()">
            <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-step-backward"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Înapoi</span></span>
          </button>
        </div>
      </div>


    </div>


  </div>


  <div *ngIf="show_topBar === false">

    <!--<div class="ui-g" >-->
      <!--<div class="ui-g-2" ></div>-->
      <!--<div class="ui-g-6" >-->
    <div class="text-center">
        <div class="ui-g">
          <div class="ui-g-3" style="width:22%;"></div>
          <div class="ui-g0">
            <ckeditor id="testid" [(ngModel)]="ckeditorContent" [config]="CkeditorConfig"   debounce="500" ></ckeditor>

          </div>

        </div>


    </div>





    <div class="ui-g" style="background-color: rgb(74, 137, 220);text-align: right!important;width: 100%;padding-top: 4px;height: 45px">

      <div  style="margin-left: 48%">
        <button class="btn btn-default"   style="background-color: white!important" (click)="sendGeneratedDoc()">
          <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Generează document</span></span>
        </button>
      </div>
      &nbsp;
      <div >
        <button class="btn btn-default"   style="background-color: white!important" [disabled]="id_file == null" (click)="downloadPdf()">
          <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Descarcă document</span></span>
        </button>
      </div>
      &nbsp;
      <div  *ngIf="show_topBar === false" style="margin-right: 0!important;">
        <button class="btn btn-default"   style="background-color: white!important"  (click)="backButtonFunc()">
          <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-step-backward"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Înapoi</span></span>
        </button>
      </div>
    </div>


  </div>
</div>


<div *ngIf="if_borderou === false">






<div class="ui-g" style="margin-left: 8px!important;">
  <p style="font-size: xx-large;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500">Borderou</p>
  <div class="ui-g-1"></div>

  <div class="ui-g-10">

  </div>
  <div class="ui-g-1"></div>

</div>

  <br>

  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-6">


    <br>


    <div style="border: 1px solid lightgray;border-bottom: 0!important;width: 807px">
      <p style="font-weight: 600;font-family: 'Segoe UI',sans-serif;font-size: medium;margin-bottom: 0rem;padding-left: 1%">BORDEROUL DE CALCUL din {{created_date_case}}</p>
      <p style="font-size: small;font-family: 'Segoe UI',sans-serif;font-weight: 400;padding-left: 1%">a cheltuielilor de executare conform procedurii executorii nr {{case_number}}</p>
      <div class="ui-g">
        <div class="ui-g-7"></div>
        <div class="ui-g-5" style="text-align: right">
          <p style="font-size: small;font-family: 'Segoe UI',sans-serif;font-weight: 400;font-style: italic">Conform <strong>Hotărîrii</strong> din 23.09.2010
            <br> cu privire la aprobarea Reglamentului privind modul de determinare a mărimii taxelor pentru efectuarea actelor executorului judecătoresc și a spezelor procedurii de executare</p>
        </div>
      </div>
    </div>

    <!--<p style="font-size: small;font-family: 'Segoe UI',sans-serif;font-weight: 400" *ngIf="personTypeSelect == 'Cheltuieile se aplică creditorului(-ilor)'"></p>-->
    <table class="tableBorderou" style="width: 807px">

      <tr>
        <th></th>
        <th style="font-size: 11px;vertical-align: top;">Art.</th>
        <th style="font-size: 11px;vertical-align: top;">Denumirea acțiunii</th>
        <th style="font-size: 11px;vertical-align: top;">Propus spre avansare creditorului</th>
        <th style="font-size: 11px;vertical-align: top;">Avansat de creditor(conform Regulamentului)</th>
        <!--<th style="font-size: 11px;vertical-align: top;">Cheltuieli puse pe seama creditorului - achit. dublă(în zilele de odihnă, sărbătoare, înainte și după orele de program – 20-00, urgent)</th>-->
        <th style="font-size: 11px;vertical-align: top;">Suportate din oficiu de executorul judecătoresc (măsurile de asigurare)</th>
      </tr>
      <tr *ngFor="let item of payment_results" >
        <td [ngStyle]="selectedRowStyle(item.selected)">
          <div class="checkbox">
            <label>
              <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;"  type='checkbox'  name="type1" [checked]="item.selected" [(ngModel)]="item.selected" (change)="checkedValue(item)"/>
              <!--<span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{item.name}}</span>-->
            </label>
            <!--<span>{{item.fix_fee == true ? item.value_fee :  item.value_fee >1 ?   item.value_fee +'lei x '   :'' }}</span>&nbsp;-->
            <!--<input [(ngModel)]="item.amount" type="number" *ngIf="item.fix_fee == false" style="padding-left:3px;width: 55px;height: 1.4rem;margin: 0!important;border: 1px solid black" (keyup)="item.selected ? csKeyUp(item) : '' ">&nbsp;-->
            <!--<span>{{item.unit}}</span>-->
          </div>
        </td>
        <td style="font-size: 11px;" [ngStyle]="selectedRowStyle(item.selected)">{{item.articol}}</td>
        <td style="font-size: 11px" [ngStyle]="selectedRowStyle(item.selected)">{{item.name}}</td>
        <td style="font-size: 11px" [ngStyle]="selectedRowStyle(item.selected)">
          <span *ngIf="item.fix_fee == true">{{item.value_fee}}</span>
          <input (click)="$event.target.select()" [(ngModel)]="item.amount" type="number" *ngIf="item.fix_fee == false" style="padding-left:3px;width: 55px;height: 1.4rem;margin: 0!important;border: 1px solid black" (keyup)="item.selected ? csKeyUp(item) : '' ">&nbsp;
        </td>
        <td style="font-size: 11px" [ngStyle]="selectedRowStyle(item.selected)">{{item.unit}}</td>
        <td [ngStyle]="selectedRowStyle(item.selected)"><input (click)="$event.target.select()" [(ngModel)]="item.office_amount" type="number" *ngIf="item.office_amount == true" style="padding-left:3px;width: 55px;height: 1.4rem;margin: 0!important;border: 1px solid black">&nbsp;</td>
      </tr>

      <tfoot>


      <tr>
        <th colspan="3" id="total">Total:</th>
        <td>{{totalPrice}}</td>
        <th>lei</th>
        <th></th>
      </tr>
      </tfoot>
    </table>
      <br>
<!--<button (click)="calcValues()">test  </button>-->

    <!--<p-tabPanel header="Taxe">-->
      <!--<p-panel header="Taxe" >-->
        <!--<div *ngFor="let taxe of taxe_array">-->
          <!--<span>{{taxe.title}}</span>-->
          <!--<br>-->
          <!--<div style="padding-left: 5%">-->
            <!--<div class="checkbox" style="opacity: 1!important;" *ngFor="let taxe_item of taxe.pay_items">-->
              <!--<label>-->
                <!--<input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='checkbox'  name="type1" [checked]="taxe_item.selected" [(ngModel)]="taxe_item.selected" (change)="checkedValue(taxe_item)"/>-->
                <!--<span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{taxe_item.name}}</span>-->
              <!--</label>-->
              <!--<span>{{taxe_item.fix_fee == true ? taxe_item.value_fee :  taxe_item.value_fee >1 ?   taxe_item.value_fee +'lei x '   :'' }}</span>&nbsp;-->
              <!--<input [(ngModel)]="taxe_item.amount" type="number" *ngIf="taxe_item.fix_fee == false" style="padding-left:3px;width: 55px;height: 1.4rem;margin: 0!important;border: 1px solid black" (keyup)="taxe_item.selected ? csKeyUp(taxe_item) : '' ">&nbsp;-->
              <!--<span>{{taxe_item.unit}}</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</p-panel>-->
    <!--</p-tabPanel>-->


    <!--<p-tabPanel header="Speze">-->
      <!--<p-panel header="Speze" >-->
        <!--<div *ngFor="let taxe of speze_array">-->
          <!--<span>{{taxe.title}}</span>-->
          <!--<br>-->
          <!--<div style="padding-left: 5%">-->
            <!--<div class="checkbox" style="opacity: 1!important;" *ngFor="let taxe_item of taxe.pay_items">-->
              <!--<label>-->
                <!--<input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='checkbox'  name="type1" [checked]="taxe_item.selected" [(ngModel)]="taxe_item.selected" (change)="checkedValue(taxe_item)"/>-->
                <!--<span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{taxe_item.name}}</span>-->
              <!--</label>-->
              <!--<span>{{taxe_item.fix_fee == true ? taxe_item.value_fee :  taxe_item.value_fee >1 ?   taxe_item.value_fee +'lei x '   :'' }}</span>&nbsp;-->
              <!--<input [(ngModel)]="taxe_item.amount" type="number" *ngIf="taxe_item.fix_fee == false" style="padding-left:3px;width: 55px;height: 1.4rem;margin: 0!important;border: 1px solid black" (keyup)="taxe_item.selected ? csKeyUp(taxe_item) : '' ">&nbsp;-->
              <!--<span>{{taxe_item.unit}}</span>-->
            <!--</div>-->
            <!--<hr>-->
          <!--</div>-->
        <!--</div>-->



      <!--</p-panel>-->
    <!--</p-tabPanel>-->


    <!---->
    <!--<p-tabPanel header="Altele">-->
      <!--<p-panel header="Altele" >-->
        <!--<div *ngFor="let other of other_array">-->
          <!--<span>{{other.title}}</span>-->
        <!--</div>-->
      <!--</p-panel>-->
    <!--</p-tabPanel>-->


    <!--<p-dialog [(visible)]="display">-->
      <!--<p-header>-->
        <!--Header content here-->
      <!--</p-header>-->
      <!--Content-->
      <!--<p-footer>-->
        <!--//buttons-->
      <!--</p-footer>-->
    <!--</p-dialog>-->

    <!--<button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show"></button>-->
    <!--height:1173,-->
    <!--// line_height : "10em",-->
    <!--width : 718,-->


    <!--<p-dialog header={{case_number}} [(visible)]="display" modal="modal" width="718" height="1173" [responsive]="true">-->
      <!--<div style="border: 1px solid lightgray;border-bottom: 0!important;">-->
        <!--<p style="font-weight: 600;font-family: 'Segoe UI',sans-serif;font-size: medium;margin-bottom: 0rem;padding-left: 1%">BORDEROUL DE CALCUL din {{created_date_case}}</p>-->
        <!--<p style="font-size: small;font-family: 'Segoe UI',sans-serif;font-weight: 400;padding-left: 1%">a cheltuielilor de executare conform procedurii executorii nr {{case_number}}</p>-->
        <!--<div class="ui-g">-->
          <!--<div class="ui-g-7"></div>-->
          <!--<div class="ui-g-5" style="text-align: right">-->
            <!--<p style="font-size: small;font-family: 'Segoe UI',sans-serif;font-weight: 400;font-style: italic">Conform <strong>Hotărîrii</strong> din 23.09.2010-->
              <!--<br> cu privire la aprobarea Reglamentului privind modul de determinare a mărimii taxelor pentru efectuarea actelor executorului judecătoresc și a spezelor procedurii de executare</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash;<p style="font-size: small;font-family: 'Segoe UI',sans-serif;font-weight: 400" *ngIf="personTypeSelect == 'Cheltuieile se aplică creditorului(-ilor)'"></p>&ndash;&gt;-->
      <!--<table class="tableBorderou">-->

        <!--<tr>-->
          <!--<th>Denumirea acțiunii</th>-->
          <!--<th  *ngIf="personTypeSelect == 'Cheltuieile se aplică creditorului(-ilor)'">Avansat de creditor (conform reglamentului)</th>-->
          <!--<th *ngIf="personTypeSelect == 'Cheltuieile se aplică debitorului(-ilor)'">Cheltuieli depuse pe seama debitorului</th>-->
          <!--&lt;!&ndash;<th>Supoartate din oficiu de executorul judecătoresc</th>&ndash;&gt;-->
        <!--</tr>-->
        <!--<tr *ngFor="let denumirea of itemSelected">-->
          <!--<td >{{denumirea.name}}</td>-->
          <!--<td style="width: 5%">{{denumirea.total_amount}}</td>-->
          <!--&lt;!&ndash;<td>Germany</td>&ndash;&gt;-->
          <!--&lt;!&ndash;<td>Germany</td>&ndash;&gt;-->
        <!--</tr>-->
        <!--<tfoot>-->
        <!--<tr>-->
          <!--<th id="total">Total :</th>-->
          <!--<td>{{totalPrice}}</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
      <!--</table>-->

      <!--<p-footer>-->
        <!--<button type="button" pButton icon="fa-check" (click)="display=false" label="Închide" style="background-color: #5CB85C"></button>-->
        <!--&lt;!&ndash;<button type="button" pButton icon="fa-close" (click)="display=false" label="Renunță" class="ui-button-danger"></button>&ndash;&gt;-->
      <!--</p-footer>-->
    <!--</p-dialog>-->

    <!--<button type="button" (click)="showDialog()" pButton icon="fa-external-link-square" label="Previzualizare" ></button>-->
    <button type="button" (click)="borderouBackFunc()"  pButton icon="fa-external-link-square" label="Înapoi" style="background-color: #5CB85C"></button>

    <button type="button" (click)="saveBorderou()" pButton label="Salvează" style="background-color: #5CB85C"></button>

      <!--<button  type="button"  pButton style="background-color: white!important" [disabled]="downloadEnabled" (click)="downloadPdfBorderou()"></button>-->
            <!--*ngIf="personTypeSelect != null" -->



      <!--<div class="ui-g-2"></div>-->
    </div>
    <div class="ui-g-2"></div>

  </div>
</div>


 <div style="position: absolute; top: 50%; left: 50%" class="loader" *ngIf="loader === true"></div>
