<div class="row">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Users</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="createUser()" style="float: right;margin-top: 2%" >New User</button>
  </div>
</div>
<div class="container" style="max-width: 100%;width: 100%!important;">
  <p-dataTable  [loading]="loading"
                [value]="results"  [paginator]="true" [rows]="10"
                [scrollable]="true"   [totalRecords]="total_recors" [responsive]="true">
    <p-column   [field]="userName"  >
      <ng-template pTemplate="header">
        UserName
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        <span style="font-size: small">{{con['userName']}}</span>
      </ng-template>
    </p-column>


    <p-column   field="person_name"  >
      <ng-template pTemplate="header">
        First&Last name
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <span style="font-size: small;word-wrap: break-word" > {{con['person_name']}}</span>

      </ng-template>
    </p-column>


    <p-column   field="role"  >
      <ng-template pTemplate="header">
        Role
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <span style="font-size: small;word-wrap: break-word">{{con['role_name']}}</span>

      </ng-template>
    </p-column>


    <p-column   field="phone"  >
      <ng-template pTemplate="header">
        Phone
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <span style="font-size: small">{{con['phone']}}</span>

      </ng-template>
    </p-column>



    <p-column  field="email"  >
      <ng-template pTemplate="header">
        Email
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body" >
        <span style="font-size: small;word-wrap: break-word">{{con['email']}}</span>
      </ng-template>
    </p-column>



    <p-column  field="created_date">
      <ng-template pTemplate="header">
        Date created
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <span style="font-size: small"> {{con['created_date']}}</span>

      </ng-template>
    </p-column>




    <p-column   field="is_active"  >
      <ng-template pTemplate="header">
        Active
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body" >
        <p-checkbox name="groupname" [(ngModel)]="con['is_active']"  (click)="activatedUser(con)" binary="true" ></p-checkbox>

      </ng-template>
    </p-column>


    <p-column [style]="{'width':'15%'}" >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">

        <button   class="btn btn-default" (click)="editUser(con['id_user'] , con['id_organization']);"   style="background-color: white!important;;text-align: center">
          <span style="color: #1e439b" class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-default" style="background-color: white!important;" (click)="deleteUser(con)">
          <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
        </button>
      </ng-template>
    </p-column>
  </p-dataTable>

</div>
<p-confirmDialog></p-confirmDialog>
