<br><br>
<p-panel header="Users">


  <p-growl [(value)]="msgs"></p-growl>


        <form class="form-horizontal" role="form">
          <div class="text-center" >

            <div class="ui-g" style="margin-left: 10%">
              <div class="ui-g-6">
                <div class="form-group">
                  <label class="col-md-3 control-label">Username</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" onfocus="this.removeAttribute('readonly');" readonly  value="&nbsp;"  name="user" [(ngModel)]="usernameUser"   required (blur)="onBlurMethod()"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Password</label>
                  <div class="col-md-8">
                    <input type="password" class="form-control" value="&nbsp;" name="passw" [(ngModel)]="passwordUser" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Email</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="&nbsp;" name="userEmail"   [(ngModel)]="userEmail"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Role assigned</label>
                  <div class="col-md-8">
                    <select class="form-control select" style="width: 40%" name='userRoles' [(ngModel)]="roleUser">
                      <option *ngFor="let role of userRoles" [ngValue]="roleUser.id==role.id ? roleUser:role">
                        {{role.name}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group" *ngIf="userWorkFunctions!=null">
                  <br>
                  <label class="col-md-3 control-label">Functie</label>
                  <div class="col-md-8">
                    <select class="form-control select" style="width: 40%" name='userWorkFunctions' [(ngModel)]="userFunctions" (change)="selectFunction(userFunctions)">
                      <option *ngFor="let work_function of userWorkFunctions" [ngValue]="userFunctions.id==work_function.id ? userFunctions:work_function" >
                        {{work_function.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label class="col-md-3 control-label">IDNP</label>
                  <div class="col-md-8">
                    <input type="email" class="form-control"  (keyup)="idnpAutoComplete()" placeholder="&nbsp;" name="userIdnp"  minlength="13" maxlength="13" [(ngModel)]="userIdnp"/>
                  </div>
                </div>
              </div>
              <div class="ui-g-6">
                <div class="form-group">
                  <label class="col-md-3 control-label">Phone</label>
                  <div class="col-md-8">
                    <input type="email" class="form-control" placeholder="&nbsp;" name="userPhone"   [(ngModel)]="userPhone"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">First name</label>
                  <div class="col-md-8">
                    <input type="email"  disabled="{{disable_inputs}}" class="form-control" placeholder="&nbsp;" name="userName"   [(ngModel)]="userName"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Last name</label>
                  <div class="col-md-8">
                    <input type="email" disabled="{{disable_inputs}}" class="form-control" placeholder="&nbsp;" name="userNameLast"   [(ngModel)]="userNameLast"/>
                  </div>
                </div>



                <div class="form-group" *ngIf="is_valid == true">
                  <label class="col-md-3 control-label">Oraș</label>
                  <div class="col-md-8">
                    <input type="email" class="form-control" placeholder="&nbsp;" name="userPhone"   [(ngModel)]="cityUser"/>
                  </div>
                </div>

                <div class="form-group" *ngIf="is_valid == true">
                  <label class="col-md-3 control-label">Strada</label>
                  <div class="col-md-8">
                    <input type="email" class="form-control" placeholder="&nbsp;" name="userPhone"   [(ngModel)]="streetUser"/>
                  </div>
                </div>

                <div class="form-group" *ngIf="is_valid == true">
                  <label class="col-md-3 control-label">Bloc</label>
                  <div class="col-md-8">
                    <input type="email" class="form-control" placeholder="&nbsp;" name="userPhone"   [(ngModel)]="blocUser"/>
                  </div>
                </div>

                <div class="form-group" >
                  <!--<div class="ui-g">-->
                    <!--<div class="ui-g-3" style="padding-top: 2%;text-align: right;font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500;color: black">Data nașterii</div>-->
                    <!--<div class="ui-g-8" style="width: 28%;margin-left: 1%">-->
                      <!--<my-date-picker name="mydateEmit" [options]="myDatePickerOptionsEmitDate"-->
                                      <!--[(ngModel)]="bitrhDateUser" required style="width: 60%"></my-date-picker>-->
                    <!--</div>-->

                  <!--</div>-->
                  <label class="col-md-3 control-label">Data nașterii</label>
                  <div class="col-md-8" style="float: inherit;">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker3" name="birth" style="width: 15%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="bitrhDateUser">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3 [startAt]="endDate"></mat-datepicker>
                    </mat-form-field>

                  </div>
                </div>
              </div>
              </div>


            </div>












            <br>



        </form>

      <br>
        <div class="text-center">
          <button pButton type="button" (click)="userCreateSave()" label="Save" class="ui-button-success" [disabled]="is_valid_username"></button>
          <button pButton type="button"  label="Back" (click)="back()" class="ui-button-danger"></button>

          <!--<button class="waves-effect waves-light btn"  (click)="userCreateSave()"   [disabled]="is_valid_username">Save</button>-->
          <!--<button class="waves-effect waves-light btn" style="background-color: red!important;color: white" routerLink="/adminDashboard/organization">Cancel</button>-->
        </div>
</p-panel>





