body .ui-panel .ui-panel-titlebar {
  border: 0 none;
  border-bottom: 1px solid #e6e6e6;
  padding: .75em 1.25em;
  background-color: #000000;

}
select option[disabled]:first-child {
  display: none;
  color: grey;
}
.ui-widget-header{
  background-color: #000000!important;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.ui-g-4{
  padding: 0!important;
}.ui-g-2{
   padding: 0!important;
 }.ui-g-6{
    padding: 0!important;
  }.ui-g-3{
     padding: 0!important;
   }
.case_number{
  font-family: "Segoe UI", sans-serif;
  font-size: xx-large;
  color: black;
  vertical-align: sub;
  font-weight: 400;
}
.form-control:disabled{
  background-color: #eceeef;
  color: black!important;
}
.controll:disabled{
  background-color: #eceeef;
  color: black!important;
}
