<div class="row">
  <div class="col-md-3">
    <div class="text-center">
      123
    </div>
    <div class="col-md-6">
      <label class="text-center">
        <input type="text">
      </label>
    </div>
  </div>
</div>


