<div class="container" style="    position:  sticky;">
  <div class="container" style="    position:  sticky;">
    <p-schedule  [events]="events" [header]="header" [eventLimit]="5"
                 (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)" [locale]="ru"></p-schedule>
    <p-dialog header="Eveniment" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false"
              [style]="{'overflow':'visible'}" [resizable]="true" [width]="500">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label >Titlu</label></div>
          <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" style="width: 100%;border-radius: 3px;border: 1px solid lightgray;height: 1.9rem;"/></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label style="vertical-align: sub">Data</label></div>
          <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.start" dateFormat="yy-mm-dd" dataType="string" disabled></p-calendar></div>
        </div>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close"  label="Anulează" [disabled]="disableDelete" (click)="dismissModalW(event)"></button>
          <button type="button" pButton icon="fa-check"  label="Salvează" (click)="saveEvent()"></button>
        </div>
      </p-footer>
    </p-dialog>
  </div>
</div>



