

<nav class="navbar " >
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="ui-g">
        <div class="ui-g-2">
          <img src="../../assets/logo_0.png" alt="">

        </div>
        <div class="ui-g-10">
          <span style="    display: block;font-size: 16px;color: #6e6e6f;padding-left: 5%;font-family: 'Segoe UI',sans-serif;">Ministerul Justiției al Republicii Moldova</span>
          <span style="    display: block;font-size: 17px;color: black;padding-left: 5%;font-family: 'Segoe UI',sans-serif;font-weight: 500">Sistemul Informatic Național e-Executor</span>

        </div>

      </div>
    </div>

  </div>
</nav>
<nav class="navbar " style="background-color: #016185;border-radius: 0!important;">
  <div class="container-fluid">
  </div>
</nav>

<!--<form (keydown)="keyDownFunction($event)">-->
  <!--<label>-->
    <!--<input type="text"/>-->
  <!--</label>-->
<!--</form>-->


<!--<p-dialog  [(visible)]="messageDialogSession" [modal]="true" [responsive]="true" >-->
  <!--Sesiunea dumneavoastră a expirat. Vă rugăm să relogin-->
<!--</p-dialog>-->


<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-4" style="margin-top: 2%">
    <div class="text-center">
      <p style="text-align: center;font-family: 'Segoe UI',sans-serif;font-weight: 400;font-size: medium;background-color: #0A6185;color: white;margin-bottom: 0rem;height: 45px;padding-top: 2%">Autentificare</p>
      <div style="border: 1px solid lightgray;background-color: #F9F9F8">
        <br><br>
        <form (keydown)="keyDownFunction($event)">
        <label style="display : inherit">
          <input placeholder="Nume utilizator" name="username" class="credentials" type="text" onfocus="this.removeAttribute('readonly');" readonly [(ngModel)]="username">
        </label>
        <br>
        <label>
          <input placeholder="Parola" name="password" class="credentials" type="password"  readonly [(ngModel)]="password" onfocus="this.removeAttribute('readonly');">
        </label>

        </form>
        <p style="color:darkred;font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight:400;">{{errorMessage}}</p>

        <div class="text-center">
          <input type="button" pButton value="Login" style="width: 50%;background-color: #5CB85C;color: white" (click)="Login()">
          <!--<button pButton type="button" (click)="Login()" label="Login" style="width: 50%;background-color: #5CB85C;color: white"></button>-->
        </div>
        <br>


        <br>
      </div>
    </div>
  </div>
  <div class="ui-g-4"></div>
</div>



<div class="footer">
  Copyright Ministerul Justiției al Republicii Moldova
  <br>

</div>
