
<div class="row">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Organizații</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"   style="float: right;margin-top: 1%;background-color: #5CB85C;color: white;font-family: 'Segoe UI',sans-serif" (click)="newOrganization()">New Organization</button>
  </div>
</div>
<div class="container" style="max-width: 100%;width: 100%!important;">
  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt [value]="results" [paginator]="true"
               [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" *ngIf="results" [immutable]=false >


    <p-column  [style]="{'width':'10%'}" field="licence_code"   [filter]="true"   filterPlaceholder="License Code" >
      <ng-template pTemplate="header">

      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['licence_code']}}
      </ng-template>
    </p-column>

    <p-column  [style]="{'width':'15%'}" field="name"   [filter]="true"  filterPlaceholder="Nume" >
      <ng-template pTemplate="header">

      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['name']}}
      </ng-template>
    </p-column>

    <p-column  [style]="{'width':'20%'}" field="address"   [filter]="true"  filterPlaceholder="Adresa">
      <ng-template pTemplate="header">

      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['address']}}
      </ng-template>
    </p-column>
    <p-column  [style]="{'width':'15%'}" field="email"   filterPlaceholder="Search">
      <ng-template pTemplate="header">
        Email
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <span style="word-break: break-all">{{con['email']}}</span>
      </ng-template>
    </p-column>
    <p-column  [style]="{'width':'15%'}" field="created_date"   [sortable]="true" filterPlaceholder="Search">
      <ng-template pTemplate="header">
        Created date
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['created_date']}}
      </ng-template>
    </p-column>

    <p-column field="created_date"  [style]="{'width':'7%'}" >
      <ng-template pTemplate="header">
        Active
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <p-checkbox name="groupname" [(ngModel)]="con['is_active']"  (click)="activatedOrganization(con)" binary="true" [style]="{'margin-left' : '35%'}"></p-checkbox>
      </ng-template>
    </p-column>

    <p-column  [style]="{'width':'20%'}"    >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <div class="text-center">
          <button  class="btn btn-default" style="background-color: white!important;width: 30%;text-align: center;border: 1px solid #a2c3fb"  (click)="editOrganization(con['id'])">
            <span style="color: #1e439b;text-align: center" class="glyphicon glyphicon-edit"></span>
          </button>
          <button class="btn btn-default" (click)="deleteOrganization(con)"  style="background-color: white!important;width: 30%;border: 1px solid #a2c3fb">
            <span style="color: #1e439b;text-align: center" class="glyphicon glyphicon-remove"></span>
          </button>
          <button class="btn btn-default" (click)="usersOrg(con['id'],con['licence_code']+' '+con['name'])"  style="background-color: white!important;width: 30%;border: 1px solid #a2c3fb" >
            <span style="color: #1e439b;text-align: center" class="glyphicon glyphicon-user"  ></span>
          </button>
        </div>

      </ng-template>
    </p-column>
    <!--</p-row>-->
  </p-dataTable>

</div>
<p-confirmDialog></p-confirmDialog>
