<p-growl [(value)]="msgsInst"></p-growl>

<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
<p style="font-family: 'Segoe UI', sans-serif;font-size: xx-large;color: black">{{case_numberPA}}</p>
<form-wizard style="float: right">
  <wizard-step [title]="'Document Executoriu'"  [isValid]="emailForm.form.valid" (onNext)="onStep1Next($event)" >



    <div class="ui-g">
      <div class="ui-g-2"></div>
      <div class="ui-g-8">
        <form #emailForm="ngForm">
        <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">

          <p-header>
            <div class="ui-helper-clearfix">
              <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: large">Date inițiale</span>
            </div>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Stare dosar :</label></div>
            <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium"> {{state_case}} </span> </div>
          </div>



          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Data creare:<span style="color: red!important;">*</span></label></div>
            <div class="ui-g-6">
              <!--<span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 300;font-size: medium"> {{created_PA_date}}</span>-->
              <!--<my-date-picker name="mydate" [options]="myDatePickerOptions" [locale]="ro"-->
                              <!--[(ngModel)]="created_date" required style="width: 60%"></my-date-picker>-->

              <!--<div class="ui-g-12 ui-md-4">-->
                <!--<h3>Navigators</h3>-->
                <!--<p-calendar [(ngModel)]="created_date" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>-->
              <!--</div>-->

                <!--<p-calendar name="createdDate"   [maxDate]="maxDateDosar" [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="1950:2030" [(ngModel)]="created_date" [defaultDate]="dateNow" dateFormat="dd.mm.yy" required></p-calendar>-->
              <p-calendar name="createdDate" [maxDate]="maxDateDosar" readonlyInput="true"  [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="1950:2030" [(ngModel)]="created_date"   dateFormat="dd.mm.yy" required></p-calendar>

            </div>
          </div>

          <!--<span>{{dateNow}}******************************</span>-->
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Data emiterii:<span style="color: red!important;">*</span></label></div>
            <div class="ui-g-6">
              <!--<span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 300;font-size: medium"> {{created_PA_date}}</span>-->
              <!--<my-date-picker name="mydateEmit" [options]="myDatePickerOptions"-->
                              <!--[(ngModel)]="emitDate" required style="width: 60%"></my-date-picker>-->
              <p-calendar name="emitDate" readonlyInput="true" [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="1950:2030" [(ngModel)]="emitDate"  dateFormat="dd.mm.yy" required></p-calendar>

            </div>
          </div>

          <hr>


          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Numărul documentului executoriu:<span style="color: red!important;">*</span></label></div>
            <div class="ui-g-6">
              <input type="text"  class="form-control"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""  style="height: 2rem;width: 100%;border: solid 1px;border-color: #999999;padding-left: 5px" [(ngModel)]="doc_executor" required>
            </div>
          </div>



          <div class="ui-g">
            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Instituția emitentă:<span style="color: red!important;">*</span></label></div>
            <div class="ui-g-6">
              <p-autoComplete name="brand" id="brand" [(ngModel)]="emitent_instance" field="name" [suggestions]="emitent_resultAutoComplete" (completeMethod)="filterBrands($event)"  [style]="{'border-color':'#99999%','width':'100%'}" required></p-autoComplete>
            </div>
          </div>


        </p-panel>

        <p-growl [value]="msgs"></p-growl>
        </form>
        <p-panel  header= "Documente" [toggleable]="false" [style]="{'margin-bottom':'20px'}">


          <div *ngFor="let fileContent of uploadedContent">

            <div class="ui-g" *ngIf="fileContent.is_delete==false">
              <div class="ui-g-6">
                <p>{{fileContent.file_name}}</p>
              </div>


              <div class="ui-g-4">
                <p >{{fileContent.doc_type}}</p>
              </div>

              <div class="ui-g-2">
                <!--<button class="btn"   style="background-color: rgb(249, 131, 131)!important;!important;float: right" (click)="deleteCaseFileFromArray(fileContent)">-->
                  <!--<span style="color: #000000" class="glyphicon glyphicon-remove"></span>-->
                <!--</button>-->
                <button style="float: right;background-color: rgb(249, 131, 131)!important;" pButton type="button" (click)="deleteCaseFileFromArray(fileContent)" icon="fa-close"></button>

                <!--<p-button (click)="deleteCaseFileFromArray(fileContent)" icon="fa fa-fw fa-close"></p-button>-->


              </div>
            </div>

          </div>




          <hr>

          <div class="ui-g">
            <div class="ui-g-4"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Tip document:</label></div>

            <div class="ui-g-4">
              <select class="form-control" name='recommend' required (change)="onChangeFunction()" [(ngModel)]="choose_file_type">
                <option *ngFor="let type of document_type" [ngValue]="type" [selected]="">
                  {{type.name}}
                </option>
              </select>
            </div>
            <div class="ui-g-4" style="text-align: end" >
              <p-fileUpload id="file" mode="basic" auto="auto" [customUpload]="true" name="file" #cerere_file clear="true" (onSelect)="onSelectFile()" maxFileSize="800000000" chooseLabel="Încarcă"></p-fileUpload>
            </div>
          </div>
          <!--*ngIf="choose_file_type != ''"-->
        </p-panel>





      </div>
      <div class="ui-g-2"></div>
    </div>
    <!--<button type="submit" (click)="onComplete()" name="tempDone"></button>-->



  </wizard-step>





  <wizard-step [title]="'Debitor'"  (onNext)="onStepDebitor($event)" [isValid]="emailForm2.form.valid" >

    <style type="text/css">
      .ui-datatable-even .ui-widget-content{
        background: red!important;
        background-color: red!important;

      }
      body{
        color: rebeccapurple;
      }
    </style>


      <div class="ui-g">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
          <p-growl [value]="msgs"></p-growl>
          <form #emailForm2="ngForm">

          <p-panel  header="Debitor" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >

          <div class="ui-g">
            <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">IDNP:<span style="color: red!important;">*</span></label></div>
            <div class="ui-g-4">
              <input type="text" class="form-control" (click)="$event.target.select()" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="idnp_debitor" #text  (input)="myFuncDebitorIDNP()" minlength="13" maxlength="13"  name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IDNP" required style="height: 2rem;width: 124%!important;border: solid 1px;padding-left: 3px;border-color: #999999" >
            </div>
            <div class="ui-g-2">
               <span style="vertical-align: sub;font-size: small">{{myText}}/13</span>
            </div>
          </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Nume:<span style="color: red!important;">*</span></label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="first_name_debitor" name="debitorlastname" aria-describedby="emailHelp" placeholder="Nume" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
                <!--<span *ngIf="debitor_last_name">test</span>-->
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Prenume:<span style="color: red!important;">*</span></label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="last_name_debitor"  name="debitorfirstname" aria-describedby="emailHelp" placeholder="Prenume" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Patronimic:</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="patronimic_debitor"  name="debitor_patronimic" aria-describedby="emailHelp" placeholder="Patronimic"  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>

            <br>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Data nașterii:<span style="color: red!important;">*</span></label></div>
              <div class="ui-g-6">
                <p-calendar name="test"  readonlyInput="true" [maxDate]="maxDateDosar" [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="1950:2030" [(ngModel)]="birth_date_debitor"  dateFormat="dd.mm.yy" required></p-calendar>

              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Oraș:</label></div>
              <div class="ui-g-6">
                <input type="text"  [disabled]="stateType" class="form-control" [(ngModel)]="city_debitor"  name="addressdeb" aria-describedby="emailHelp" placeholder="Oraș"  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Strada:</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="street_debitor"   name="debitorTest" aria-describedby="emailHelp" placeholder="Strada"  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Bloc:</label></div>
              <div class="ui-g-3">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="block_debitor"  name="blocdeb" aria-describedby="emailHelp" placeholder="Bloc"  style="height: 2rem;width: 35%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Adresa domiciliu:</label></div>
              <div class="ui-g-6">
                <input type="text"  class="form-control" [(ngModel)]="adresa_domiciliuDebitor"  name="domiciliu"  placeholder="Adresa domiciliu"  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Telefon:</label></div>
              <div class="ui-g-3">
                <input type="text"  class="form-control" (click)="$event.target.select()" [(ngModel)]="phoneDebitor"  name="phone"  placeholder="Telefon"  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Cod poștal:</label></div>
              <div class="ui-g-6">
                <input type="text" class="form-control" [(ngModel)]="post_code_debitor" name="postcodedeb" aria-describedby="emailHelp" placeholder="Cod poștal"  style="height: 2rem;width: 41%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>




          </p-panel>
          </form>
        </div>
        <div class="ui-g-2"></div>
      </div>
  </wizard-step>



  <wizard-step [title]="'Creditor'"  (onNext)="onStepCreditor($event)" [isValid]="emailFormCred.form.valid">


    <div class="ui-g">

      <div class="ui-g-2"></div>
      <div class="ui-g-8">

        <p-growl [value]="msgs"></p-growl>
          <p-panel  header="Creditor" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >
            <form #emailFormCred="ngForm">

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">IDNP:<span style="color: red!important;">*</span></label></div>
              <div class="ui-g-4">
                <input type="text" class="form-control" (click)="$event.target.select()" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="idnp_creditor" #text (input)="myFuncCreditorIDNP()"  minlength="13" maxlength="13" aria-describedby="emailHelp" placeholder="IDNP*" required style="height: 2rem;width: 124%!important;border: solid 1px;padding-left: 3px;border-color: #999999" [(ngModel)]="idnp_creditor" >
              </div>
              <div class="ui-g-2">
                <span style="vertical-align: sub;font-size: small">{{myTextCreditor}}/13</span>
              </div>
            </div>
            <br>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Nume:<span style="color: red!important;">*</span></label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control"  name="creditor_first_name" aria-describedby="emailHelp" placeholder="Nume" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="first_name_creditor" >
              </div>
            </div>
            <br>

            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Prenume:<span style="color: red!important;">*</span></label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control"  name="last_name_creditor" aria-describedby="emailHelp" placeholder="Prenume" required style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="last_name_creditor">
              </div>
            </div>

            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Patronimic:</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="patronimic_creditor"  name="patronimic_creditor" aria-describedby="emailHelp" placeholder="Patronimic"  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
              <br>
              <div class="ui-g">
                <div class="ui-g-6">
                  <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Data nașterii:<span style="color: red!important;">*</span></label></div>
                <div class="ui-g-6">
                  <p-calendar name="test" readonlyInput="true" [maxDate]="maxDateDosar"  [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="1950:2030" [(ngModel)]="birth_date_creditor"  required dateFormat="dd.mm.yy"></p-calendar>

                </div>
              </div>
              <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Oraș:</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType" class="form-control" [(ngModel)]="city_creditor"  name="city_creditor" aria-describedby="emailHelp" placeholder="Oraș"  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Strada:</label></div>
              <div class="ui-g-6">
                <input type="text" [disabled]="stateType"  class="form-control" [(ngModel)]="street_creditor"   name="street_creditor" aria-describedby="emailHelp" placeholder="Strada"  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Bloc:</label></div>
              <div class="ui-g-3">
                <input type="text"  [disabled]="stateType" class="form-control" [(ngModel)]="block_creditor"  name="bloc_creditor" aria-describedby="emailHelp" placeholder="Bloc"  style="height: 2rem;width: 35%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Adresa domiciliu:</label></div>
              <div class="ui-g-6">
                <input type="text"  class="form-control" [(ngModel)]="adresa_domiciliuCreditor"  name="domiciliu"  placeholder="Adresa domiciliu"    style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Telefon:</label></div>
              <div class="ui-g-3">
                <input type="text"  class="form-control" (click)="$event.target.select()" [(ngModel)]="phoneCreditor"  name="phone"  placeholder="Telefon"  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
              </div>
            </div>
            <br>
            <div class="ui-g">
              <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Cod poștal:</label></div>
              <div class="ui-g-6">
                <input type="text"  class="form-control"  name="post_code_creditor" aria-describedby="emailHelp" placeholder="Cod poștal"  style="height: 2rem;width: 41%;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="post_code_creditor">
              </div>
            </div>



            </form>

          </p-panel>



      </div>
      <div class="ui-g-2"></div>
    </div>









  </wizard-step>

  <div class="ui-g">

    <div class="ui-g-1"></div>


    <div class="ui-g-10">
      <wizard-step [title]="'Copii'"  (onNext)="nextAchitari()">
      <p-growl [value]="msgs"></p-growl>
      <p-panel  header="Copii" [toggleable]="false"  >

            <button pButton type="button"  class="ui-button-info" label="Adaugă copil" (click)="showInputsChild()" style="float: right"></button>
        <br><br>
<div class="tablechildcomponent">
  <p-dataTable [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt
               [value]="childrens"
               [scrollable]="true"  [responsive]="true" [immutable]=false
               selectionMode="single"
               [(selection)]="childSelected"
               (onRowSelect)="onRowSelect($event)"
               [style]="{'padding':'0.2rem!important'}"  class="tableChildren">



    <p-column [style]="{'width':'3%'}"  field="nr" class="columnChild">
      <ng-template pTemplate="header">
        <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Nr.</span>
      </ng-template>
      <ng-template  let-con="rowData"  let-i="rowIndex" let-line pTemplate="body">
        {{i+1}}
      </ng-template>
    </p-column>


    <p-column [style]="{'width':'15%'}"  field="idnp" >
      <ng-template pTemplate="header">
        <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">IDNP</span>
      </ng-template>
      <ng-template let-col let-con="rowData"  pTemplate="body">
        {{con['idnp']}}
      </ng-template>
    </p-column>


    <p-column [style]="{'width':'12%'}" field="nume_prenume" >
      <ng-template pTemplate="header">
        <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Nume / Prenume</span>
      </ng-template>
      <ng-template let-col let-con="rowData" pTemplate="body">
        {{con['first_name']}}&nbsp;{{con['last_name']}}
      </ng-template>
    </p-column>



    <p-column [style]="{'width':'10%'}" field="Data nasterii">
      <ng-template pTemplate="header">
        <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Data nasterii</span>
      </ng-template>
      <ng-template let-col let-con="rowData" pTemplate="body">
        {{con['birth_date'] | date:"dd.MM.yyyy"}}
      </ng-template>
    </p-column>

    <p-column [style]="{'width':'5%'}" field="age" >
      <ng-template pTemplate="header">
        <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Ani</span>

      </ng-template>
      <ng-template let-col let-con="rowData" pTemplate="body">
        {{con['age']}}

      </ng-template>
    </p-column>
    <p-column [style]="{'width':'10%'}" field="age" >
      <ng-template pTemplate="header">
        <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Actiuni</span>

      </ng-template>
      <ng-template let-col let-con="rowData" pTemplate="body">
        <img src="../../assets/edit1.PNG" width="34" alt="" style="border-radius: 4px;vertical-align: top;">
        <!--<button type="button" pButton icon="fa-edit" (click)="onRowSelect(con)"  style="height: 40px;padding-top: 0px!important;"></button>-->

        <button type="button" pButton icon="fa-remove" (click)="confirmDelete(con)" class="ui-button-danger" style="height: 39px;padding-top: 0px!important;"></button>

      </ng-template>
    </p-column>



  </p-dataTable>
</div>
        <br><br>


        <div *ngIf="showinputfields == true">



        <div class="ui-g">
          <div class="ui-g-1"></div>
          <div class="ui-g-10">
            <p-panel  header="Înserare date" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >
              <!--<br>-->
              <div class="ui-g">
                <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">IDNP:</label></div>
                <div class="ui-g-4">
                  <input type="email" (input)="myFuncChildrensIDNP()"
                         onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                         (keyup)="myFuncChildrensIDNP()" class="form-control"
                         name="idnp" aria-describedby="emailHelp"
                         placeholder="IDNP" maxlength="13"
                         required
                         [(ngModel)]="newChildObject['idnp']"
                         style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" (click)="$event.target.select()">
                </div>
                <div class="ui-g-2">
                  <span style="vertical-align: sub;font-size: small">{{myTextChilds}}/13</span>
                </div>

              </div>

              <br>
              <div class="ui-g">
                <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Nume:<span style="color: red!important;">*</span></label></div>
                <div class="ui-g-6">
                  <input type="text" class="form-control"  [(ngModel)]="newChildObject['last_name']" (input)="checkIfEmptyField()" name="nume" aria-describedby="emailHelp"  placeholder="Nume" required  style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;">
                </div>
              </div>

              <br>
              <div class="ui-g">
                <div class="ui-g-6"><label
                  style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Prenume:<span
                  style="color: red!important;">*</span></label></div>
                <div class="ui-g-6">
                  <input type="text" class="form-control" name="prenume" aria-describedby="emailHelp"
                         placeholder="Prenume" required
                         [(ngModel)]="newChildObject['first_name']"
                         style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" (input)="checkIfEmptyField()">
                </div>
              </div>
              <br>
              <div class="ui-g">
                <div class="ui-g-6"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Data nașterii:<span style="color: red!important;">*</span></label></div>
                <div class="ui-g-6">
                  <p-calendar name="createdDate" readonlyInput="true"  [maxDate]="maxDateDosar" [(ngModel)]="newChildObject['birth_date']" (change)="checkIfEmptyField()" [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="2000:2050"   dateFormat="dd.mm.yy"></p-calendar>
                </div>
              </div>

              <br>
              <div class="ui-g">
                <div class="ui-g-6"></div>
                <div class="ui-g-6">
                  <button pButton type="button" (click)="cancel()" label="Renunța"  style="float: right;" class="ui-button-danger"></button>
                  <button pButton type="button" (click)="adaugaCopil()" label="Salvează" style="float: right;" class="ui-button-warning" [disabled]="disableButtonSave"></button>

                </div>
              </div>
            </p-panel>

          </div>
          <div class="ui-g-1"></div>

        </div>
        </div>

      </p-panel>

      </wizard-step>
    </div>
    <div class="ui-g-1"></div>
  </div>





  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <wizard-step [title]="'Achitari'" [isValid]="emailForm2.form.valid" (onNext)="achitari($event)" >
        <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">
          <p-header >
            <div class="ui-helper-clearfix">
              <span class="ui-panel-title" style="display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: large">Date inițiale:</span>
            </div>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Stare dosar :</label></div>
            <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">{{state_case}}</span> </div>
          </div>
          <br>
          <div class="ui-g">


            <div class="ui-g-6">
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Modalitatea achitării:<span style="color: red!important;">*</span></label></div>
            <div class="ui-g-6">
                <!--<div class="relative">-->
                  <!--<select class="form-control" name='recommend' required [(ngModel)]="payment_instance" style="width: 82%;border-color: #999999;border-radius: 0px;">-->
                    <!--<option *ngFor="let item of payment_mode" name="payment"  [selected]="(payment_instance == item) ? payment_instance:''">{{item.name}}{{payment_instance.name}}</option>-->
                  <!--</select>-->
                <!--</div>-->
              <div class="radio" style="opacity: 1!important;" *ngFor="let item of payment_mode">
                <label>
                  <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' (change)="onSelectionPaymentChange(item)"  name="optradio"  [checked]="selectedPayModeID === item.id" required/>
                  <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{item.name}}</span>
                  <!--<span>{{revenue[childrens.length]}}</span> <span>{{childrens.length}}</span>-->
                </label>
              </div>
            </div>
          </div>
          <!--<div *ngIf="selectedPayModeID == 30 || selectedPayModeID == 31 || selectedPayModeID == 29">-->



          <div *ngIf="allPaymentTypes == true">
            <div class="ui-g">
              <div class="ui-g-6">
                <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Durata achitării din data de:<span style="color: red!important;">*</span></span>
              </div>
              <div class="ui-g-6">
                <div class="ui-g">

                  <div class="ui-g-6">
                    <!--<mat-form-field>-->
                      <!--<input matInput [matDatepicker]="picker7" placeholder=""  style="width: 60%;height: 1.5rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="date_from" required>-->
                      <!--<mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>-->
                      <!--<mat-datepicker #picker7 [startAt]="endDate"></mat-datepicker>-->
                    <!--</mat-form-field>-->
                    <p-calendar name="dateFrom"  [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="1950:2030" [(ngModel)]="date_from"  dateFormat="dd.mm.yy"></p-calendar>

                  </div>
                </div>
              </div>
            </div>

            <div class="ui-g">

              <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;padding-top: 25px">Suma:<span style="color: red!important;">*</span></label></div>
              <br>
              <div class="">
                <br>
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon" style="padding: 0em 0.75em!important;height: 1.8rem;">MDL&nbsp;</span>
                  <input type="number" pInputText placeholder="Price" style="padding-left: 1%;height: 1.8rem;" (input)="calculate()"  [(ngModel)]="amount_mdl" (click)="$event.target.select()">
                </div>

                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon" style="padding: 0em 0.82em!important;height: 1.8rem">USD&nbsp;</span>
                  <input type="number" pInputText placeholder="Price" style="padding-left: 1%;height: 1.8rem;" (input)="calculate()" [(ngModel)]="amount_usd" (click)="$event.target.select()">
                </div>

                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon" style="height: 1.8rem;padding: 0em 0.75em!important;">EUR&nbsp;&nbsp;</span>
                  <input type="number" pInputText placeholder="Price" style="height: 1.8rem;padding-left: 1%" (input)="calculate()" [(ngModel)]="amount_eur" (click)="$event.target.select()">
                </div>

              </div>
            </div>

            <div class="ui-g" *ngIf="selectedPayModeID == 31 || selectedPayModeID == 29">

              <div class="ui-g-6"></div>
              <div class="ui-g-6">
                <div class="ui-g">
                  <div class="ui-g-4">
                    <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;padding-top: 25px">Total MDL:</label>
                  </div>
                  <div class="ui-g-4">
                    <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;padding-top: 25px" *ngIf="resultAmmount != ''">{{resultAmmount}}</label>
                    <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;padding-top: 25px" *ngIf="resultAmmount == null">{{resultAmmountInit}}</label>
                  </div>
                </div>


              </div>

            </div>

            <div class="ui-g" *ngIf="selectedPayModeID == 30">

              <div class="ui-g-6"></div>
              <div class="ui-g-6">
                <div class="ui-g">
                  <div class="ui-g-4">
                    <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;padding-top: 25px">Total MDL:</label>
                  </div>
                  <div class="ui-g-4">
                    <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;padding-top: 25px" *ngIf="disablefirstInputPayment == true">{{dividedResToFix}}</label>
                    <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;padding-top: 25px" *ngIf="disablefirstInputPayment == false">{{dividedResInit}}</label>
                  </div>
                </div>


              </div>

            </div>

            <hr>

            <div *ngFor="let child of childrens" >
              <p *ngIf="child.first_name != ''"><span style="font-family: 'Segoe UI',sans-serif">Nume Prenume : </span><span>{{child.first_name}}</span>&nbsp;<span>{{child.last_name}}</span></p>
              <p *ngIf="child.first_name != ''"><span style="font-family: 'Segoe UI',sans-serif">Data nașterii : </span><span>{{child.birth_date | date: 'dd/MM/yyyy'}}</span></p>
              <p *ngIf="child.first_name != ''"><span style="font-family: 'Segoe UI',sans-serif">Data limita : </span><span style="font-family: 'Segoe UI',sans-serif;font-weight: 500">{{child.majority_date}}</span></p>

              <p *ngIf="child.majority_date == null && child.first_name != ''"><span style="font-family: 'Segoe UI',sans-serif">Data limita : </span><span style="font-family: 'Segoe UI',sans-serif;font-weight: 500">{{child.majority_date | date: 'dd/MM/yyyy'}}</span></p>
              <hr *ngIf="child.first_name != ''">
            </div>



          </div>

          <div *ngIf="allPaymentTypes == false">
            <div class="ui-g">
              <div class="ui-g-6">
                <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub;">Durata achitării din data de:<span style="color: red!important;">*</span></span>
              </div>
              <div class="ui-g-6">
                <div class="ui-g">

                  <div class="ui-g-6">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker7" placeholder=""  style="width: 60%;height: 1.5rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="date_from" required>
                      <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                      <mat-datepicker #picker7 [startAt]="endDate"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <hr>

              <div *ngFor="let child of childrens" >
                <div class="ui-g">
                  <div class="ui-g-6">
                    <p *ngIf="child.first_name != ''"><span style="font-family: 'Segoe UI',sans-serif">Nume Prenume : </span><span>{{child.first_name}}</span>&nbsp;<span>{{child.last_name}}</span></p>
                    <p *ngIf="child.first_name != ''"><span style="font-family: 'Segoe UI',sans-serif">Data nașterii : </span><span>{{child.birth_date | date: 'dd/MM/yyyy'}}</span></p>
                    <p *ngIf="child.first_name != ''"><span style="font-family: 'Segoe UI',sans-serif">Data limita : </span><span style="font-family: 'Segoe UI',sans-serif;font-weight: 500">{{child.majority_date}}</span></p>
                    <p *ngIf="child.majority_date == null && child.first_name != ''"><span style="font-family: 'Segoe UI',sans-serif">Data limita : </span><span style="font-family: 'Segoe UI',sans-serif;font-weight: 500">{{child.majority_date | date: 'dd/MM/yyyy'}}</span></p>
                    <hr *ngIf="child.first_name != ''">
                  </div>

                  <div class="" *ngIf="child.first_name != ''">
                    <div class="text-center">

                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon" style="height: 1.8rem;padding: 0em 0.75em!important;">MDL&nbsp;</span>
                        <input type="number" style="height: 1.8rem;" pInputText (input)="calcPersonal(child.mdl)" [(ngModel)]="child.mdl" (click)="$event.target.select()">
                      </div>
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon" style="height: 1.8rem;padding: 0em 0.82em!important;">USD&nbsp;</span>
                        <input type="number" style="height: 1.8rem;" pInputText (input)="calcPersonal(child.usd)" [(ngModel)]="child.usd" (click)="$event.target.select()">
                      </div>
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon" style="height: 1.8rem;padding: 0em 0.75em!important;">EUR&nbsp;&nbsp;</span>
                        <input type="number" style="height: 1.8rem;" pInputText  (input)="calcPersonal(child.eur)" [(ngModel)]="child.eur" (click)="$event.target.select()">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            <div class="ui-g" >

              <div class="ui-g-6"></div>
              <div class="ui-g-6">
                <div class="ui-g">
                  <div class="ui-g-4">
                    <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;padding-top: 25px">Total MDL:</label>
                  </div>
                  <div class="ui-g-4">
                    <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;padding-top: 25px" >{{totalPersonalPayments}}</label>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </p-panel>

      </wizard-step>
    </div>
    <div class="ui-g-2"></div>
  </div>


  <div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <wizard-step [title]="'Conținut și Intentare'" [isValid]="emailForm2.form.valid" (onComplete)="onComplete($event)">
        <div [ngSwitch]="isCompleted">
          <div *ngSwitchDefault>

      <p-panel [toggleable]="false" [style]="{'margin-bottom':'20px'}">
        <p-header >
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="display:inline-block;margin-top:2px;font-family: 'Segoe UI',sans-serif;font-size: medium">Conținut și Intentare</span>
          </div>
        </p-header>

        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Stare dosar :</label></div>
          <div class="ui-g-6"> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">{{state_case}}</span> </div>
        </div>
        <br>
        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Adaugare membru echipă:<span style="color: red!important;">*</span></label></div>
          <div class="ui-g-6">

              <label *ngFor="let team of case_team" style="display: block">
                <input style="opacity: 1!important;vertical-align: sub!important;" type='checkbox' [(ngModel)]="team.is_selected"  (click)="changeTeamMembers(team)"  multiple required/>
                <span style="font-family: 'Segoe UI',sans-serif;color: black;vertical-align: middle;font-weight: 400">{{team.name}} </span>
              </label>
          </div>
        </div>

        <br>
        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Prioritate:<span style="color: red!important;">*</span></label></div>
          <div class="ui-g-6">


            <div class="radio" style="opacity: 1!important;" *ngFor="let priority of priority_mode">
              <label>
                <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' (change)="onSelectionChangePriority(priority)" name="priority_name"  [checked]="selectedPriorityID === priority.id" required/>
                <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{priority.name}}</span>
              </label>
            </div>
          </div>
        </div>
        <br>

        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Data limită de executare:</label></div>
          <div class="ui-g-6">
            <!--<mat-form-field>-->
              <!--<input matInput [matDatepicker]="picker3" placeholder="Choose an end date"  style="width: 41%;height: 2rem;padding-left: 3px;border: solid 1px;border-color: #999999;" [(ngModel)]="end_date_case">-->
              <!--<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>-->
              <!--<mat-datepicker #picker3 [startAt]="endDate"></mat-datepicker>-->
            <!--</mat-form-field>-->
            <p-calendar name="dindatade"  [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="1950:2030" [(ngModel)]="end_date_case"  dateFormat="dd.mm.yy"></p-calendar>

          </div>
        </div>
        <br>
        <div class="ui-g">

          <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Text procedură:</label></div>
          <div class="ui-g-6">
            <div class="form-group">
              <textarea class="form-control" rows="5" id="comment" style="border-color: #999999;border-radius: 0!important;width: 82%!important;" [(ngModel)]="text_procedura"></textarea>
            </div>
          </div>
        </div>
      </p-panel>
          </div>
        </div>
      </wizard-step>
    </div>
    <div class="ui-g-2"></div>
  </div>
</form-wizard>
  </div>
  <div class="ui-g-1"></div>
</div>


<div class="loader" *ngIf="loader === true"></div>

<p-confirmDialog #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="Nu" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Da" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>

