<div class="row" style="margin-right: 0!important;margin-left: 0!important;">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Object execution</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="showDialog(execution)" style="float: right;margin-top: 1%;background-color: #5CB85C;color: white;" >New object </button>
  </div>
</div>



<div class="container" style="max-width: 100%;width: 100%!important;">

  <p-messages [(value)]="msgs"></p-messages>



  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner"  [value]="object_execution_list"
               [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true"  [immutable]=false >

    <p-column field="bank_name" [style]="{'width':'20%'}">
      <ng-template pTemplate="header">
        Function
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        {{con['name']}}
      </ng-template>
    </p-column>

    <p-column field="bank_name" [style]="{'width':'20%'}">
      <ng-template pTemplate="header">
        Function
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        {{con['objectExecutionType']}}
      </ng-template>
    </p-column>

    <p-column field="bank_name" [style]="{'width':'20%'}">
      <ng-template pTemplate="header">
        Description
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        {{con['description']}}
      </ng-template>
    </p-column>

    <p-column field="is_active"  [style]="{'width':'10%'}" >
      <ng-template pTemplate="header">
        Is active
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        <p-checkbox name="groupname" [(ngModel)]="con['is_active']"  (click)="activatedNomObject(con)" binary="true" [style]="{'margin-left' : '35%'}"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column  [style]="{'width':'20%'}"    >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">

        <button   class="btn btn-default" style="background-color: white!important;width: 30%;text-align: center" (click)="showDialog(con)" >
          <span style="color: #1e439b" class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-default"   style="background-color: white!important;width: 30%" (click)="deleteObject(con)">
          <span style="color: #1e439b" class="glyphicon glyphicon-remove" ></span>
        </button>
      </ng-template>
    </p-column>



  </p-dataTable>

  <p-confirmDialog></p-confirmDialog>


  <p-dialog header="New object name" [(visible)]="display" modal="modal" width="600" [responsive]="true" >
    <div class="ui-g">
      <div class="ui-g-6">
        <span class="object_text">Type new object name.</span>
      </div>
      <div class="ui-g-6">
        <input type="hidden" class="form-control nameObject" value="&nbsp;" name="id" [(ngModel)]="object_edit"/>
        <input type="text" class="form-control nameObject" value="&nbsp;" name="code" style="width:75%!important;border: solid 1px;height: 2rem;padding-left: 5px;float: left"  [(ngModel)]="object_edit.name"/>
      </div>

    </div>

    <div class="ui-g">
      <div class="ui-g-6">
        <span class="object_text">Select type</span>
      </div>
      <div class="ui-g-6">
        <select class="form-control" name='recommend' required [(ngModel)]="object_edit.type">
          <option *ngFor="let obj of objectExecutionFor" selected="null">
              {{obj}}
          </option>
        </select>
      </div>

    </div>

    <div class="ui-g">
      <div class="ui-g-6">
        <span class="object_text">Description</span>
      </div>
      <div class="ui-g-6">
        <div class="form-group">
          <textarea class="form-control" rows="5" id="comment" [(ngModel)]="object_edit.description"></textarea>
        </div>
      </div>

    </div>
    <p-footer>
      <button type="button" pButton icon="fa-check" (click)="saveObject()" label="Yes"></button>
      <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
    </p-footer>
  </p-dialog>


</div>
