<div class="ui-g">
  <div class="ui-g-2"></div>

  <div class="ui-g-8">
    <p-panel header="Role">


      <div class="ui-g" >

        <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Denumirea:</label></div>
        <div class="ui-g-6">
          <input type="text"  class="form-control" style="height: 2rem;width: 50%;padding-left: 3px;border: solid 1px;border-color: #999999;" name="Denumirea" [(ngModel)]="role_name" required >

        </div>
      </div>
      <hr>
      <!--<div class="ui-g">-->

        <!--<div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Profile:</label></div>-->
        <!--<div class="ui-g-6">-->

          <!--<div class="radio" style="opacity: 1!important;" *ngFor="let item of profiles">-->
            <!--<label>-->
              <!--<input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio'  name="priority_name"  (change)="changeProfile(item)"/>-->
              <!--<span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{item.name}}</span>-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div class="ui-g">

        <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Profile:</label></div>
        <div class="ui-g-6">

          <div class="checkbox" style="opacity: 1!important;" *ngFor="let item of profiles">
            <label>
              <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='checkbox'  name="priority_name"  [(ngModel)]="item.is_active" (click)="changeProfiles(item)" [checked]="item.is_active === true"/>
              <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{item.name}}</span>
            </label>
          </div>
        </div>
      </div>

      <hr>



      <div class="ui-g">

        <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Permisiuni:</label></div>
        <div class="ui-g-6">

          <div class="checkbox" style="opacity: 1!important;" *ngFor="let permission of permissions_case">
            <label>
              <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='checkbox'  name="priority_name"  [(ngModel)]="permission.checked" (click)="changePermissions(permission)" [checked]="permission.checked === true"/>
              <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{permission.name}}</span>
            </label>
          </div>
        </div>
      </div>
      <hr>
      <div class="ui-g">

        <div class="ui-g-6"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Users:</label></div>
        <div class="ui-g-6">

          <div class="checkbox" style="opacity: 1!important;" *ngFor="let usr_perm of permissions_user"    >
            <label>
              <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='checkbox'  name="userPerm_name" [(ngModel)]="usr_perm.checked" (click)="changeUserPerm(usr_perm)"  [checked]="usr_perm.checked === true" />
              <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">{{usr_perm.name}}</span>
            </label>
          </div>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="ui-g-2"></div>

</div>
<div class="text-center">

  <a class="waves-effect waves-light btn" style="width: 10%"  (click)="sendRoles()">Salvează</a>
  <a class="waves-effect waves-light btn" style="width: 10%;background-color: whitesmoke!important;color: black!important;"  routerLink="/adminDashboard/roles">Înapoi</a>

</div>
      <!--<div class="ui-g">-->

        <!--<div class="ui-g-6" style="text-align: right">-->
          <!--<label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Prioritate:</label></div>-->
        <!--<div class="ui-g-6">-->

          <!--<div class="radio" style="opacity: 1!important;" >-->
            <!--<label>-->
              <!--<input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio'  name="priority_name"   />-->
              <!--<span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">1</span>-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<br>-->
      <!--<div class="text-center">-->
        <!--<div class="row">-->
          <!--<div class="col-md-6" style="text-align: right;margin-left: -4%">-->
            <!--<span style="font-family: 'Segoe UI',sans-serif;color: black">Profiles:</span>-->
          <!--</div>-->
          <!--<div class="col-md-6" style="width: 20%!important;text-align: left">-->
            <!--<ul *ngFor="let p of profiles">-->
                <!--<p-checkbox name="profiles" [label]="p.name" [value]="p.id" [(ngModel)]="checkedProfile" ></p-checkbox>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<br>-->
      <!--<div class="text-center">-->
        <!--<div class="row">-->
          <!--<div class="col-md-6" style="text-align: right;margin-left: -4%">-->
            <!--<span style="font-family: 'Segoe UI',sans-serif;color: black">Status:</span>-->
          <!--</div>-->
          <!--<div class="col-md-6" style="width: 20%!important;text-align: left">-->
            <!--<p-checkbox name="status" label="Active"></p-checkbox>-->
            <!--&lt;!&ndash;<br>&ndash;&gt;-->
            <!--&lt;!&ndash;<p-checkbox name="status" label="Inactive"></p-checkbox>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</p-panel>-->
  <!--</div>-->

  <!--<div class="ui-g-2"></div>-->
<!--</div>-->


<!--<div class="ui-g">-->
  <!--<div class="ui-g-2"></div>-->
  <!--<div class="ui-g-8">-->
    <!--<p-panel header="Permissions">-->
      <!--<div class="text-center">-->
        <!--<div class="row">-->
          <!--<div class="col-md-6" style="text-align: right;margin-left: -4%">-->
            <!--<span style="font-family: 'Segoe UI',sans-serif;color: black">Case:</span>-->
          <!--</div>-->
          <!--<div class="col-md-6" style="width: 20%!important;text-align: left">-->
            <!--<div *ngIf="permissions">-->

              <!--<p-checkbox name="all" [binary]="true" (onChange)="selectAll($event)" label="Toate" ></p-checkbox>-->
              <!--<ul *ngFor="let p of permissions">-->
                <!--<li>-->
                  <!--<p-checkbox name="permissionChecks" check="true" [(ngModel)]="selectedPermissions" [label]="p.name" [value]="p.id" [ngModel]="caseId"></p-checkbox>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<hr style="width: 60%">-->
      <!--<div class="text-center">-->
        <!--<div class="row">-->
          <!--<div class="col-md-6" style="text-align: right;margin-left: -4%">-->
            <!--<span style="font-family: 'Segoe UI',sans-serif;color: black">User:</span>-->
          <!--</div>-->
          <!--<div class="col-md-6" style="width: 20%!important;text-align: left">-->
            <!--<ul>-->
              <!--<li>-->
                <!--<p-checkbox name="groupname1" (onChange)="selectAllUsers($event);" [binary]="true" label="Toate"></p-checkbox>-->
              <!--</li>-->
              <!--<li *ngFor="let u of users" style="margin-top: 5%">-->
                <!--<p-checkbox name="groupname1"  [(ngModel)]="selectedUsers" [label]="u.name" [value]="u.id"  ></p-checkbox>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->



    <!--</p-panel>-->
  <!--</div>-->
  <!--<div class="ui-g-2"></div>-->
<!--</div>-->

<!--<div class="text-center">-->


<!--</div>-->

