<p-growl [value]="msgs"></p-growl>
<div class="ui-g">
  <div class="ui-g-12">
    <div class="row" style="margin-right: -0.1157rem;margin-left:-0.1157rem;border-bottom: solid 1px lightgrey">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Dosarele Mele</span>
  </div>
</div>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [value]="usersPa" [globalFilter]="gb" #dt  [paginator]="true"
             [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" [immutable]=false>

  <p-column  [style]="{'width':'20%'}" field="Procedura"  field="code_case"  [sortable]="true">
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Procedura</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">

      {{con['code_case']}}
    </ng-template>
  </p-column>




  <p-column  [style]="{'width':'15%'}" field="debitor_name" [filter]="true" filterPlaceholder="Debitorul">
    <ng-template pTemplate="header">
      <!--<span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Debitorul</span>-->
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['debitor_name']}}

    </ng-template>
  </p-column>
  <p-column  [style]="{'width':'15%'}" field="creditor_name" [filter]="true" filterPlaceholder="Creditorul">
    <ng-template pTemplate="header">
      <!--<span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Creditorul</span>-->
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['creditor_name']}}

    </ng-template>
  </p-column>
  <p-column  [style]="{'width':'20%'}" field="Cuantum">
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Cuantum / Obiectul executării</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['cuantum']}}

    </ng-template>
  </p-column>


    <p-column field="case_state"  [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible','width':'13%'}">
      <ng-template pTemplate="filter" let-col>
        <p-dropdown [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" appendTo="body"></p-dropdown>
      </ng-template>
    </p-column>

  <!--<p-column  [style]="{'width':'13%'}" field="case_state" [filter]="true" filterPlaceholder="Stare">-->
    <!--<ng-template pTemplate="header">-->
      <!--&lt;!&ndash;<span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Stare</span>&ndash;&gt;-->
    <!--</ng-template>-->
    <!--<ng-template let-col  let-con="rowData" pTemplate="body">-->
      <!--{{con['case_state']}}-->

    <!--</ng-template>-->
  <!--</p-column>-->
  <p-column  [style]="{'width':'15%'}" field="Code case"  field="case_members" >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500"> Responsabil</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">

      {{con['case_members']}}
    </ng-template>
  </p-column>
  <p-column  [style]="{'width':'20%'}" field="Code case" >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500"> Acțiuni</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      <button  class="btn btn-default" style="background-color: white!important;width: 30%;text-align: center;border: 1px solid #a2c3fb"  (click)="editDosar(con['type'] ,con['id_case'])">
        <span style="color: #1e439b" class="glyphicon glyphicon-edit"  ></span>
      </button>
      <button class="btn btn-default"   style="background-color: white!important;width: 30%;border: 1px solid #a2c3fb" (click)="deleteDosar(con)">
        <span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="btn btn-default"  (click)="detaliiDosar(con['id_case'])" style="background-color: white!important;width: 30%;border: 1px solid #a2c3fb">
        <span style="color: #1e439b" class="glyphicon glyphicon-list" ></span>
      </button>

    </ng-template>
  </p-column>

</p-dataTable>
  </div>
</div>
  <p-confirmDialog></p-confirmDialog>
