<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Plăți</span>
        </div>
      </p-header>
      <span>1)Test for input</span>&nbsp;&nbsp;<input type="text" style="width: 10%;height: 1.5rem;border: solid 1px gray"/>
      <p-footer>
        <button pButton type="button" icon="fa-plus" label="New" class="ui-button-info"></button>
        <button pButton type="button" icon="fa-list" label="View" class="ui-button-success"></button>
      </p-footer>
    </p-panel>
  </div>
  <div class="ui-g-1"></div>
</div>
