
<style>
  select{
    font-size: small;
    color: black;
    font-family: "Segoe UI",sans-serif;
  }
  option{
    font-size: small;
    color: black;
    font-family: "Segoe UI",sans-serif;
  }
  label{
    vertical-align: sub!important;
  }
  .ui-g-5{
    padding: 0!important;
  }
</style>

<div class="ui-g">
  <div class="ui-g-6"><span style="font-size: xx-large;color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500">{{case_number}}</span></div>
  <div class="ui-g-6">
        <div class="ui-g-6">
          <select class="form-control" name='recommend' style="height: 37px!important;" [(ngModel)]="stateCase" (change)="changeStateCase()">
            <option value="STRAMUTAT">STRĂMUTAT</option>
            <option value="INTENTAT">INTENTAT</option>
            <option value="EXECUTAT">EXECUTAT</option>
            <option value="SUSPENDAT">SUSPENDAT</option>
            <option value="INCHEIAT">ÎNCHEIAT</option>

          </select>
        </div>
    <div class="ui-g-3">
      <button class="btn btn-default"   style="background-color: white!important;width: 100%" (click)="EditFromDetails()" [disabled]="stateCase != 'INTENTAT'">
        <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Editează</span></span>
      </button>
    </div>
    <div class="ui-g-3">
      <button class="btn btn-default"   style="background-color: white!important;width: 100%" (click)="deleteDosar()" [disabled]="stateCase != 'INTENTAT'">
        <span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-remove"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Șterge</span></span>
      </button>
    </div>



  </div>

</div>
<!--<button class="btn btn-default"   style="background-color: white!important" (click)="generateDoc(editDosarID)">-->
  <!--<span style="color: #1e439b;vertical-align: text-bottom;" class="glyphicon glyphicon-edit"><span style="color: black;font-family: 'Segoe UI',sans-serif;font-size: small;vertical-align: top;">Generează document</span></span>-->
<!--</button>-->
<button pButton type="button" (click)="generateDoc(editDosarID)" label="Generează document" style="background-color: white;color: black;border: 1px solid darkgray"></button>

<br><br>

<p-tabView  (onChange)="tabClick($event)" [activeIndex]="selectedIndex">
  <p-tabPanel header="Detalii dosar">
      <div class="ui-g">
        <div class="ui-g-8">
          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Numărul dosar:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{case_number}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Instituția emitentă:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{nom_emitent_instance}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Numărul documentului executoriu :</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{doc_executor}}</span>
            </div>
          </div>


          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Data:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{created_date}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Data limită de executare :</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{expired_date_case}}</span>
            </div>
          </div>
        </div>

        <!--Solid Border Team-->
        <!--<div class="ui-g-4">-->
          <!--<div style="border: solid 1px">-->
            <!--<div class="ui-g">-->
              <!--<div class="ui-g-5"><span>Executor:</span></div>-->
              <!--<div class="ui-g-5"><span>Test User</span></div>-->
            <!--</div>-->
            <!--<div class="ui-g">-->
              <!--<div class="ui-g-5"><span>Asistent:</span></div>-->
              <!--<div class="ui-g-5"><span>Test Asistent</span></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--Solid Border Team-->

      </div>

  </p-tabPanel>
  <p-tabPanel header="Participanți">
    <br>
    <p-panel header="Debitor">
      <div class="ui-g">



        <div class="ui-g-6" *ngFor="let deb of debitor_credentials">
          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Nume:</label></div>
            <div class="ui-g-6">
               <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{deb.full_name}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5">
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="deb.birth_date">IDNP:</label>
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="deb.created_date">IDNO:</label>
            </div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{deb.idnp}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5">
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub"  *ngIf="deb.birth_date">Data nașterii:</label>
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="deb.created_date">Data fondării:</label>
            </div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" *ngIf="deb.birth_date">{{deb.birth_date}}</span>
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" *ngIf="deb.created_date">{{deb.created_date}}</span>

            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Adresa:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{deb.address}}</span>
            </div>
          </div>
          <hr>
        </div>




        <div class="ui-g-6"></div>
      </div>
    </p-panel>
    <br>
    <p-panel header="Creditor" *ngIf="creditor_credentials != ''">
      <div class="ui-g">
        <div class="ui-g-6" *ngFor="let cred of creditor_credentials">
          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Nume:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{cred.full_name}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5">
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="cred.birth_date">IDNP:</label>
              <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub" *ngIf="cred.created_date">IDNO:</label>

            </div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{cred.idnp}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Data nașterii:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{cred.birth_date}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Adresa:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{cred.address}}</span>
            </div>
          </div>

        </div>

        <div class="ui-g-6"></div>
      </div>
    </p-panel>
    <br>


    <p-panel header="Copii" *ngIf="childrens != ''">


      <div class="ui-g">
        <div class="ui-g-6" *ngFor="let child of childrens">
          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Nume:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{child.full_name}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">IDNP:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{child.idnp}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Data nașterii:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium" >{{child.birth_date}}</span>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-5"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: sub">Adresa:</label></div>
            <div class="ui-g-6">
              <span style="font-family: 'Segoe UI',sans-serif;color: black;font-size: medium">{{child.address}}</span>
            </div>
          </div>

        </div>

        <div class="ui-g-6"></div>
      </div>




    </p-panel>
  </p-tabPanel>

  <p-tabPanel header="Documente atașate">
    <div class="ui-g" *ngFor="let file of files_content">
      <div class="ui-g-2">
          <span class="text_file">{{file.type}}</span>
      </div>
      <div class="ui-g-3">
        <span class="text_file">{{file.filename}}</span>
      </div>
      <div class="ui-g">
        <div class="ui-g-6">
          <a href="{{main_url}}/executor/case/download/{{file.id_file}}" style="background-color: #1e439b;color: white" class="btn btn-default" download>
            <span style="color: white" class="glyphicon glyphicon-download"></span>
          </a>
        </div>
        <!--<div class="ui-g-6">-->
          <!--<a style="background-color: red;color: white" class="btn btn-default"> <span style="color: white" class="glyphicon glyphicon-remove"></span></a>-->
        <!--</div>-->

      </div>
      <hr>

    </div>
  </p-tabPanel>

  <p-tabPanel header="Plați" >

    <br>
    <div class="ui-g">
      <div class="ui-g-4">
        <span class="titlebar">Nota de plata</span>
      </div>
      <div class="ui-g-4" style="padding: 0!important;">
        <div class="ui-g">
          <div class="ui-g-3"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: inherit!important;">Borderou:</label></div>

          <div class="ui-g-4">
            <select class="form-control" name='recommend' style="width: 200%;margin-top: -5px" [(ngModel)]='borderou_item_selected' (change)="chooseTypeBorderou()">
              <option *ngFor="let item of borderou_list" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="ui-g-4">
        <button type="button" style="float: right;margin-top: -5px!important;" (click)="showDialogPayment()" pButton icon="fa-external-link-square" label="Crează nota de plată"></button>
      </div>

    </div>
    <br>
    <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt  [paginator]="true" [value]="orderPaymentsArray"
                 [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" [immutable]=false >


      <p-column  [style]="{'width':'15%'}" field="cod" >
        <ng-template pTemplate="header">
          Cod
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['code']}}

        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="Creditor/Debitor" >
        <ng-template pTemplate="header">
           Persoana fizica/juridica
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['personPayer']}}


        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="data" >
        <ng-template pTemplate="header">
          Data crearii
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['created']}}

        </ng-template>
      </p-column>


      <p-column  [style]="{'width':'15%'}" field="total" >
        <ng-template pTemplate="header">
           Total spre achitare(lei)
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['totalAmount']}}

        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="total" >
        <ng-template pTemplate="header">
           Achitari(lei)
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['dueAmount']}}

        </ng-template>
      </p-column>
      <!--<p-column  [style]="{'width':'15%'}" field="total" >-->
        <!--<ng-template pTemplate="header">-->
          <!--Datorii(lei)-->
        <!--</ng-template>-->
        <!--<ng-template let-col  let-con="rowData" pTemplate="body">-->
          <!--{{con['restPay']}}-->

        <!--</ng-template>-->
      <!--</p-column>-->

      <p-column  [style]="{'width':'20%'}">
        <ng-template pTemplate="header">
          Activități
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          <!--<button class="btn btn-default"   style="background-color: white!important;width: 25%">-->
            <!--<span style="color: #1e439b" class="glyphicon glyphicon-remove"></span>-->
          <!--</button>-->

          <!--href="{{main_url}}/executor/case/download/{{con['attachmentId']}}"-->

          <button pButton type="button" (click)="downdloadBill(con['attachmentId'])" icon="fa-cloud-download" ></button>
          <button pButton type="button" [disabled]="con['isPayed']" (click)="showPropertiesModal(con)" icon="fa-file-image-o"></button>
          <button pButton type="button" (click)="deleteBill(con)" icon="fa-close"></button>

        </ng-template>
      </p-column>
      <!--</p-row>-->
    </p-dataTable>
  </p-tabPanel>

  <p-dialog header="Încasare cheltuieli" [(visible)]="displayPaymentProperties" modal="modal" [responsive]="true" [width]="500" >
    <!--<span>Cod:</span> <span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 400">{{casename}}</span>-->
    <!--<br>-->
    <!--<span>Data incasării:</span><p-calendar readonlyInput="true"  [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" dateFormat="yy-mm-dd" dataType="string" ></p-calendar>-->
    <!--<br>-->
    <!--<span>Achitat:</span><input type="number" style="width: 100%;border-radius: 3px;border: 1px solid lightgray;height: 1.9rem;">-->


    <table style="width: 100%">
      <tr>
        <td><span>Cod:</span></td>
        <td><span style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 400">{{order_payments.code}}</span></td>
      </tr>
      <tr></tr>
      <br>
      <tr>
        <td><span>Data incasării:</span></td>
        <td><p-calendar [(ngModel)]="date_payed"   yearRange="2015:2030"  readonlyInput="true" [locale]="ro" showIcon="true"  dateFormat="yy-mm-dd" dataType="string" monthNavigator="true" yearNavigator="true" [defaultDate]="today"></p-calendar></td>
      </tr>
      <tr></tr>
      <br>
      <tr>
        <td><span>Achitat:</span></td>
        <td><input [(ngModel)]="payedAmount" type="number" style="border-radius: 3px;border: 1px solid lightgray;height: 2.3rem;padding-left: 4%"></td>
      </tr>

      <tr>
        <td></td>
        <td><span style="color: red">{{messagePayed}}</span></td>


    </table>
    <br><br><br><br><br>
    <p-footer>
      <button type="button" pButton icon="fa-check" (click)="paymentSave()" label="Salvează"></button>
      <button type="button" pButton icon="fa-close" (click)="displayPaymentProperties=false" label="Renunță"></button>
    </p-footer>
  </p-dialog>



  <p-tabPanel header="Documente create"  [selected]="signedDoc">
    <br>
    <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner" [globalFilter]="gb" #dt  [paginator]="true" [value]="files_pdf"
                 [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" [immutable]=false>


      <!--<p-column  [style]="{'width':'15%'}" field="filename" >-->
        <!--<ng-template pTemplate="header">-->
          <!--Nr-->
        <!--</ng-template>-->
        <!--<ng-template let-col  let-con="rowData" pTemplate="body">-->

        <!--</ng-template>-->
      <!--</p-column>-->
      <!--<p-column  [style]="{'width':'15%'}" field="filename" >-->
      <!--<ng-template pTemplate="header">-->
      <!--Cod-->
      <!--</ng-template>-->
      <!--<ng-template let-col  let-con="rowData" pTemplate="body">-->

      <!--</ng-template>-->
      <!--</p-column>-->

      <p-column  [style]="{'width':'15%'}" field="typeDoc" >
        <ng-template pTemplate="header">
          Tip document
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['doc_type']}}
        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'10%'}" field="type" >
        <ng-template pTemplate="header">
          Document
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          <span style="word-break: break-all">{{con['type']}}</span>
        </ng-template>
      </p-column>



      <p-column  [style]="{'width':'10%'}" field="code" >
        <ng-template pTemplate="header">
          Cod
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          <span style="word-break: break-all">{{con['code']}}</span>
        </ng-template>
      </p-column>

      <p-column  [style]="{'width':'15%'}" field="filename" >
        <ng-template pTemplate="header">
          Denumirea
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          <span style="word-break: break-all">{{con['filename']}}</span>
        </ng-template>
      </p-column>


      <p-column  [style]="{'width':'15%'}" field="Case" >
        <ng-template pTemplate="header">
          Data
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['created']}}
        </ng-template>
      </p-column>








      <p-column  [style]="{'width':'15%'}" field="responsabil" >
        <ng-template pTemplate="header">
          Responsabil
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          {{con['author']}}

        </ng-template>
      </p-column>


      <p-column  [style]="{'width':'23%'}" field="stare" >
        <ng-template pTemplate="header">
          Stare
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">

          <button pButton type="button" label="Semnează" style="padding: 0!important;" (click)="signDocument(con['id_file'],con['id_doc_type'])" *ngIf="con['status'] !== 'SEMNAT'">
          </button>
          <button *ngIf="con['status'] == 'SEMNAT'" pButton type="button" (click)="count()" label="SEMNAT" class="ui-button-secondary" disabled style="padding: 0!important;color:black;font-weight: 900;border: 2px solid black">
            <span style="word-break: break-all;"  ></span>
          </button>

          &nbsp;<button  *ngIf="con['status'] == 'SEMNAT'" type="text" (click)="anulareDocument(con['id_file'])" pButton style="padding: 0!important;" label="Anulează"  class="ui-button-warning"></button>
          <!--<button pButton type="button" (click)="anulareDocument()" label="Anulare"  class="ui-button-warning"></button>-->



        </ng-template>
      </p-column>


      <p-column  [style]="{'width':'15%'}"    >
        <ng-template pTemplate="header">
          Activități
        </ng-template>
        <ng-template let-col  let-con="rowData" pTemplate="body">
          <a href="{{main_url}}/executor/case/document/msign/load/{{con['id_file']}}" style="background-color: #1e439b;color: white" class="btn btn-default" download>
            <span style="color: white" class="glyphicon glyphicon-download"></span>
          </a>
        </ng-template>
      </p-column>
    </p-dataTable>




  </p-tabPanel>


  <p-tabPanel header="Istoricul acțiunilor">
    <p-accordion *ngFor="let item of history_case; let i = index" [attr.data-index]="i">
      <p-accordionTab header="{{item.created}}"    *ngIf="i==0 || (history_case[i].created != history_case[i-1].created) ">
        <ul *ngFor="let item2 of history_case">
          <li *ngIf="item.created == item2.created">{{item2.history}}</li>
        </ul>
      </p-accordionTab>
    </p-accordion>
  </p-tabPanel>

</p-tabView>
<span>{{display_error}}</span>
<p-dialog header="Informare" modal="modal" [(visible)]="display_error">
  <span>{{error_message}}</span>
</p-dialog>

<p-confirmDialog header="Motivul anulării"  width="425" #cd>
  <p-footer>

    <label for="comment"></label><textarea placeholder="Motivul anulării" [(ngModel)]="motiv_anularii" class="form-control" rows="5" id="comment"></textarea>
    <br>
    <button type="button" pButton icon="fa-close" label="Renunță" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Anulează" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>



<p-dialog header="Nota de plată" [(visible)]="displayPaymentModel" modal="modal" [responsive]="true" [width]="500"  [minWidth]="200" >
  <table style="width:100%">
    <tr>
    <td>
      <div class="radio" style="opacity: 1!important;" >
        <label>
          <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' name="optradioDeb"  [(ngModel)]="debitor" value="debitor" (change)="personTypeBorderou(debitor)"/>
          <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">Debitor</span>
        </label>
      </div>
    </td>
    <td>
      <select class="form-control" [disabled]="disableTypeDebitor" name='recommend' style="width: 65%"  [(ngModel)]="selected_person_fromArray">
        <option *ngFor="let debitor of borderou_debitors_array"  [ngValue]="debitor" selected>{{debitor.name}}</option>
      </select>
    </td>
  </tr>

    <tr *ngIf="is_stat == false">
      <td>
        <div class="radio" style="opacity: 1!important;" >
          <label>
            <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' name="optradioDeb" [(ngModel)]="creditor" value="creditor" (change)="personTypeBorderou(creditor)" />
            <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">Creditor</span>
          </label>
        </div>
      </td>
      <td>
        <select class="form-control" [disabled]="disableTypeCreditor" name='recommend' style="width: 65%"   [(ngModel)]="selected_person_fromArray">
          <option *ngFor="let creditor of borderou_creditors_array" [ngValue]="creditor">{{creditor.name}}</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        <div class="radio" style="opacity: 1!important;" >
          <label>
            <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' name="optradioDeb"  [(ngModel)]="other_person"  value="other_person" (change)="personTypeBorderou(other_person)"/>
            <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">Alta persoana</span>
          </label>
        </div>
      </td>
    </tr>

    <tr></tr>
    <tr>
      <td><span style="padding-left: 7%">Spre achitare:</span></td>
      <td>
        <div class="ui-g" style="margin-left: -8px;">
          <div class="ui-g-3">
            <input type="text"  class="form-control" name="price" aria-describedby="emailHelp"  required  style="height: 2rem;width: 100%;padding-left: 3px;border: solid 1px lightgray;margin-top: 2%;" [(ngModel)]="for_pay">
          </div>
          <div class="ui-g-6"><span style="vertical-align: sub;">lei</span></div>
        </div>


        </td>
    </tr>



    <tr>
      <td><span style="padding-left: 7%">Nume Prenume Patronimic</span></td>
      <td><input type="text" [disabled]="disableTypeOther" class="form-control" name="prenume" [(ngModel)]="personOther" aria-describedby="emailHelp"  required  style="height: 2rem;width: 65%;padding-left: 3px;border: solid 1px lightgray" ></td>
    </tr>

  </table>



  <!--<hr>-->


  <!--<div *ngFor="let fileContent of uploadedContent">-->

    <!--<div class="ui-g" *ngIf="fileContent.is_delete==false">-->
      <!--<div class="ui-g-6">-->
        <!--<p>{{fileContent.file_name}}</p>-->
      <!--</div>-->
      <!--<div class="ui-g-4">-->
        <!--<p >{{fileContent.doc_type}}</p>-->
      <!--</div>-->
      <!--<div class="ui-g-2">-->
        <!--<button style="float: right;background-color: rgb(249, 131, 131)!important;" pButton type="button" (click)="deleteCaseFileFromArray(fileContent)" icon="fa-close"></button>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="ui-g">-->
    <!--<div class="ui-g-4"><label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium">Tip document:</label></div>-->
    <!--<div class="ui-g-4" style="text-align: end" >-->
      <!--<p-fileUpload id="file" mode="basic" auto="auto" [customUpload]="true" name="file" #cerere_file clear="true" (onSelect)="onSelectFile()" maxFileSize="800000000" chooseLabel="Încarcă"></p-fileUpload>-->
    <!--</div>-->
  <!--</div>-->



  <p-footer>
    <button type="button" pButton icon="fa-check" [disabled]='typeIsEmpty' (click)="savePaymentOrder()" label="Crează nota de plată"></button>
    <button type="button" pButton icon="fa-close" (click)="displayPaymentModel=false" label="Renunța"></button>
  </p-footer>
</p-dialog>


