.text_file{
  font-family: "Segoe UI", sans-serif;
  font-size: large;
  font-weight: 500;
  color: black;
  vertical-align: sub!important;
}
ul {
  list-style-type: none;
}
.titlebar{
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  font-size: large;
  color: black;
}
td{
  font-family: "Segoe UI", sans-serif;
  color: black;
}
