<div class="row" >
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Work functions</span>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-default"  (click)="showDialog()" style="float: right;margin-top: 1%;background-color: #5CB85C;color: white;" >New Function</button>
  </div>
</div>




  <p-messages [(value)]="msgs"></p-messages>



  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner"  [value]="workFunctions"
               [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true"  [immutable]=false [style]="{'width': '500px'}">

    <p-column field="bank_name" [style]="{'width':'20%'}">
      <ng-template pTemplate="header">
        Function
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        {{con['name']}}
      </ng-template>


    </p-column>
    <p-column field="is_active"  [style]="{'width':'10%'}" >
      <ng-template pTemplate="header">
        Is active
      </ng-template>
      <ng-template let-col  let-con="rowData"  pTemplate="body">
        <p-checkbox name="groupname" [(ngModel)]="con['is_active']"  (click)="activatedNomFunction(con)" binary="true" [style]="{'margin-left' : '35%'}"></p-checkbox>
      </ng-template>
    </p-column>
    <p-column  [style]="{'width':'20%'}"    >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">

        <button   class="btn btn-default" style="background-color: white!important;width: 30%;text-align: center" (click)="showDialog(con)" >
          <span style="color: #1e439b" class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-default"   style="background-color: white!important;width: 30%" (click)="deleteFunction(con)">
          <span style="color: #1e439b" class="glyphicon glyphicon-remove" ></span>
        </button>
      </ng-template>
    </p-column>



  </p-dataTable>

  <p-confirmDialog></p-confirmDialog>


  <p-dialog header="New bank name" [(visible)]="display" modal="modal" width="300" [responsive]="true" >
    <p>Type new Function name.</p>
    <input type="text" class="form-control" value="&nbsp;" name="code" style="width:100%!important;"  [(ngModel)]="function_edit.name"/>
    <p-footer>
      <button type="button" pButton icon="fa-check" (click)="saveFunction()" label="Yes"></button>
      <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
    </p-footer>
  </p-dialog>


  <!--<button type="button" (click)="show()">Show</button>-->


