<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">

<p-panel  header="Profil utilizator" [toggleable]="false" [style]="{'margin-bottom':'20px'}" >
  <br>
  <div class="ui-g">
    <div class="ui-g-4"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Utilizator:</label></div>
    <input type="text"  class="form-control" style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" name="Utilizator" [(ngModel)]="username"   required  disabled>
  </div>

  <div class="ui-g">
    <div class="ui-g-4"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">email:</label></div>
    <input type="email" (keyup)="checkIfMail()" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" class="form-control" style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" name="email" [(ngModel)]="mail"  required onfocus="this.removeAttribute('readonly');" readonly >
    <span style="color: red;font-family: 'Segoe UI',sans-serif;font-size: small;padding-top: 1%;padding-left: 1%" *ngIf="mail == '' ">E-mail address can not be empty</span>


  </div>
  <div class="ui-g">
    <div class="ui-g-4"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Parola curenta:</label></div>
    <input type="password"  class="form-control" style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" name="curenta" [(ngModel)]="curent_password"   required >

  </div>


  <div class="ui-g">
    <div class="ui-g-4"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Parola noua:</label></div>
    <input type="password" (input)="checkLenght()"  class="form-control" style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" name="noua"  [(ngModel)]="new_pass" minlength="6" required >
    <span style="color: red;font-family: 'Segoe UI',sans-serif;font-size: small;padding-top: 1%;padding-left: 1%" *ngIf="password_len == true">Parola aleasă este prea scurtă.</span>
  </div>

  <div class="ui-g" >
    <div class="ui-g-4"> <label style="color: black;font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: medium;vertical-align: text-top;">Confirmare parola:</label></div>
    <input type="password"  class="form-control" style="height: 2rem;width: 82%;padding-left: 3px;border: solid 1px;border-color: #999999;" name="Confirmare" [(ngModel)]="confirm_password" minlength="7"  required >
    <span style="color: red;font-family: 'Segoe UI',sans-serif;font-size: small;padding-top: 1%;padding-left: 1%" *ngIf="new_pass != confirm_password || confirm_password == ''">Parolele nu coincid</span>

  </div>
  <!--<p *ngIf="new_pass != confirm_password"><span style="color: red;font-family: 'Segoe UI',sans-serif">Password does not match</span></p>-->
  <!--<p *ngIf="mail == null ||  mail == ''"><span style="color: red;font-family: 'Segoe UI',sans-serif">E-mail address can not be empty</span></p>-->
  <div class="ui-g" style="background-color: #4a89dc">
    <div class="ui-g-6"></div>
    <div class="ui-g-6">
      <button class="btn btn-default" style="float: right;background-color: white" (click)="changeAccountSettings()" [disabled]="new_pass != confirm_password || mail == null || mail == ''">
        <span style="color: black">Salveaza</span>
      </button>
    </div>

  </div>
</p-panel>


  </div>
  <div class="ui-g-1"></div>
</div>
<p-growl [(value)]="msgs"></p-growl>
