<nav class="navbar ">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="ui-g">
        <div class="ui-g-2">
          <img src="../../assets/logo_0.png" alt="">
        </div>
        <div class="ui-g-10">
          <span
            style="    display: block;font-size: 16px;color: #6e6e6f;padding-left: 5%;font-family: 'Segoe UI',sans-serif;">Ministerul Justiției al Republicii Moldova</span>
          <span
            style="    display: block;font-size: 17px;color: black;padding-left: 5%;font-family: 'Segoe UI',sans-serif;font-weight: 500">Sistemul Informatic Național e-Executor</span>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar " style="background-color: #016185">
  <div class="container-fluid">
    <ul class="nav navbar-nav top-nav">
      <li [routerLinkActive]="['active']" class="routerDash" [ngClass]="{active: isActive('organization-users')}"
          (click)="checkValue('organization-users')">
        <a class="routerDash" routerLink="organization-users">
          <span
            style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400;color: white">Utilizatori</span>
        </a>
      </li>
      <li class="routerDash">
        <a class="routerDash">
          <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400;color: white">Birou</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="col-md-1"></div>
<div class="col-md-10"
     style="margin-left: 0!important; padding-left: 0;padding-top: 0!important;padding-right: 0!important;">
  <router-outlet></router-outlet>
</div>
<div class="col-md-1"></div>
