<div class="ui-g">
  <div class="ui-g-2"></div>
  <div class="ui-g-8">
    <p-panel header="Credentials for new Organization">


      <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()" #createForm="ngForm">
        <div class="text-center" style="margin-left: 20%">
          <div class="form-group">
            <label class="col-md-3 control-label">Licensee Code</label>
            <div class="col-md-9">
              <input type="text" class="form-control" value="&nbsp;" name="code" [(ngModel)]="dateCredentials.code"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Cod fiscal</label>
            <div class="col-md-9">
              <input type="text" class="form-control" value="&nbsp;" name="code_fiscal"
                     [(ngModel)]="dateCredentials.fiscal_code"/>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" value="&nbsp;" name="name" [(ngModel)]="dateCredentials.name"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="email" class="form-control" placeholder="&nbsp;" name="email"
                     [(ngModel)]="dateCredentials.email"/>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label">Tel/fax</label>
            <div class="col-md-9">
              <input type="email" class="form-control" placeholder="&nbsp;" name="tel_fax"
                     [(ngModel)]="dateCredentials.tel_fax"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Phone</label>
            <div class="col-md-9">
              <input type="email" class="form-control" placeholder="&nbsp;" name="phone"
                     [(ngModel)]="dateCredentials.phone"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Bank</label>
            <div class="col-md-9">
              <select class="form-control select" style="width: 50%" name='recommend' [(ngModel)]="selected_bank">
                <option *ngFor="let bank of banksOrganizations"
                        [ngValue]="selected_bank.id==bank.id ? selected_bank:bank">{{bank.name}}
                </option>
              </select>
            </div>
          </div>

          <br>
          <div class="form-group">
            <label class="col-md-3 control-label">Bank Account</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="&nbsp;" name="bank_account"
                     [(ngModel)]="dateCredentials.bank_account"/>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label">City</label>
            <div class="col-md-9">
              <select class="form-control select" style="width: 50%" name='city' [(ngModel)]="selected_city">
                <option *ngFor="let city of cityOrganizations"
                        [ngValue]="selected_city.id==city.id ? selected_city:city">{{city.name}}
                </option>
              </select>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-3 control-label">Street</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="&nbsp;" name="street"
                     [(ngModel)]="dateCredentials.street"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Postal code</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="&nbsp;" name="postCode"
                     [(ngModel)]="dateCredentials.post_code"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Working hours</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="&nbsp;" name="hours"
                     [(ngModel)]="dateCredentials.hoursw"/>
            </div>
          </div>

        </div>
        <div class="text-center" style="margin-left: 10%">
          <button pButton type="button" label="Salvează" class="ui-button-success" (click)="sendDate()"
                  [disabled]="!createForm.form.valid"></button>
          <button pButton type="button" routerLink="/adminDashboard/organization" label="Înapoi"
                  class="ui-button-danger"></button>
        </div>
        <br>
        <br><br><br><br>
      </form>


    </p-panel>


  </div>
  <div class="ui-g-2"></div>
</div>
