
<div class="container" style="max-width: 70%;width: 100%!important;">

  <div class="row">
    <div class="col-md-6">
      <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Roles</span>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-default"  (click)="createRole()" style="float: right;margin-top: 1%;background-color: #5CB85C;color: white;" >New Role</button>
    </div>
  </div>
  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner"
               [globalFilter]="gb" #dt [value]="tableRoles" [paginator]="false"
               [scrollable]="true"   [totalRecords]="total_records" [responsive]="true" >

    <p-column  [style]="{'width':'40%'}" field="role_name"  filterPlaceholder="Search">
      <ng-template pTemplate="header">
        Name
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['role_name']}}
      </ng-template>
    </p-column>


    <p-column  [style]="{'width':'10%'}"    >
      <ng-template pTemplate="header">
        Actions
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <div class="text-center">
          <button  (click)="editRole(con['id']);" class="btn btn-default" style="background-color: white!important;width: 40%;border: 1px solid black">
            <span style="color: black" class="glyphicon glyphicon-list"></span>
          </button>
          <button class="btn btn-default" style="background-color: white!important;width: 40%;border: 1px solid black" (click)="deleteRole(con)">
            <span style="color: black" class="glyphicon glyphicon-remove"></span>
          </button>
        </div>

      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<p-confirmDialog></p-confirmDialog>


