<nav class="navbar navbar-upper" >

  <div class="container-fluid">
    <div class="navbar-header">

      <div class="ui-g">
        <div class="ui-g-2">
          <img src="../../assets/logo_0.png" alt="">

        </div>
        <div class="ui-g-10">
          <span style="    display: block;font-size: 16px;color: #6e6e6f;padding-left: 5%;font-family: 'Segoe UI',sans-serif;">Ministerul Justiției al Republicii Moldova</span>
          <span style="    display: block;font-size: 17px;color: black;padding-left: 5%;font-family: 'Segoe UI',sans-serif;font-weight: 500">Sistemul Informatic Național e-Executor</span>

        </div>

      </div>
    </div>
  </div>
</nav>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav top-nav">
        <li [routerLinkActive]="['active']" class="routerDash" [ngClass]="{active: isActive('DosareMele')}" (click)="checkValue('DosareMele')">
          <a routerLink="DosareMele" class="routerDash">
            <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400">Dosarele Mele</span>
          </a>
        </li>
        <li class="routerDash" [ngClass]="{active: isActive('dosarePensiiAlimentare')}" (click)="checkValue('dosarePensiiAlimentare')">
          <a routerLink="dosarePensiiAlimentare" class="routerDash">
            <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400">Dosare Pensii Alimentare</span>
          </a>
        </li>
        <li class="routerDash" [ngClass]="{active: isActive('civile')}" (click)="checkValue('civile')">
          <a routerLink="dosare-civile" class="routerDash">
            <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400">Dosare Civile</span>
          </a>
        </li>
        <li class="routerDash" [ngClass]="{active: isActive('dosareStat')}" (click)="checkValue('dosareStat')">
          <a routerLink="dosareStat" class="routerDash">
            <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400">Dosare Stat</span>
          </a>
        </li>
        <li class="routerDash" [ngClass]="{active: isActive('Registru')}" (click)="checkValue('Registru')">
          <a routerLink="registru" class="routerDash">
            <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400">Registru</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li style="padding-top: 13px">
          <span class="userCredentials">Bine ați venit {{nameOfExecutor}}</span>
        </li>
        <li>
          <a routerLink="accountSettings" style="padding-bottom: 0!important;"><i class="material-icons" >settings</i></a></li>
        <li routerLink="calendar">
          <button class="badge1" data-badge="" style="border: none;background: transparent;margin-top: 15px">
          <i class="material-icons">perm_contact_calendar</i>
        </button>
        </li>
        <li><a (click)="LogOut()" style="padding-bottom: 0!important;cursor: pointer"><i class="material-icons">exit_to_app</i></a></li>

      </ul>
    </div>
  </div>
</nav>

<style>
  .routerDash{
    font-size: medium;
    color: white!important;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #1e439b!important;
    color: white!important;
  }
</style>

<div class="sidebar-overlay"></div>
<div class="row" style="margin-right: 0!important;margin-left: 0!important;">

  <div class="col-md-1"></div>
  <div class="col-md-10" style="margin-left: 1%!important; padding-left: 0;padding-top: 0!important;padding-right: 0!important;" id="wrap">

    <router-outlet></router-outlet>
  </div>
  <div class="col-md-1"></div>

</div>
<div style="height: 100px;"></div>
<br><br><br>
<div class="footer">
  <div class="ui-g">
    <div class="ui-g-8">
      <span class="footer-text">Copyright Ministerul Justiției al Republicii Moldova</span>
      <br>
      <span class="footer-text">Version 1.7.0</span>
    </div>
    <div class="ui-g-4" style="text-align: justify;text-justify: inter-word;">
      <span class="footer-text">Adresa:&nbsp;{{dash_address}}</span><br>
      <span class="footer-text">Tel/fax:&nbsp;{{dash_contact}}</span><br>
      <!--<span class="footer-text">email:&nbsp;{{mail}}</span><br>-->
      <span class="footer-text">B/c:&nbsp;{{dash_banks}}</span><br>
      <span class="footer-text">orele:&nbsp;{{dashj_work}}</span>
    </div>

  </div>
</div>
