
.myspan{
  /*color: black;font-family: 'Segoe UI',sans-serif;font-weight: 200;font-size: large*/
}

/*.routerDash:before{*/
  /*background-color: #4a89dc;*/
/*}*/
.spannav{
  font-size: medium;
  line-height: 0!important;
  font-family: "Segoe UI", sans-serif;
}
nav{
  border-radius: 0!important;
  color: white;
}
nav {
  border-radius: 0!important;
}
.navbar{
  margin-bottom: 0!important;

}


:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  -webkit-box-shadow: none !important;
  box-shadow: none!important;
}
.navbar {
  position: relative;
  padding: 0!important;
  border-radius: 0!important;
}
.side-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.navbar .active a {
  text-decoration: none;
  background-color: #0da0db;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}

.navbar-brand{
  height: auto;

}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  margin-left: 310px;
}
.ui-datatable-reflow .ui-datatable-data > tr > td{
  display: grid!important;
}

.userCredentials{
  font-family: 'Segoe UI',sans-serif;font-weight: 400;font-size: medium;color: white;
}
.navbar-upper{
  background-color: white!important;
}
@media (max-width: 767px){
  .badge1{
    margin-left: 2.5% !important;
  }
  .userCredentials{
    padding-left: 4% !important;
  }
  .footer{
    display: none;
  }
}
/* small screen */
/*@media (max-width: 768px) {*/
  /*.side-menu {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 0;*/
    /*border-right: 0;*/
    /*border-bottom: 1px solid #e7e7e7;*/
  /*}*/
  /*.side-menu .brand-name-wrapper .navbar-brand {*/
    /*display: inline-block;*/
  /*}*/
  /*!* Slide in animation *!*/
  /*@-moz-keyframes slidein {*/
    /*0% {*/
      /*left: -300px;*/
    /*}*/
    /*100% {*/
      /*left: 10px;*/
    /*}*/
  /*}*/
  /*@-webkit-keyframes slidein {*/
    /*0% {*/
      /*left: -300px;*/
    /*}*/
    /*100% {*/
      /*left: 10px;*/
    /*}*/
  /*}*/
  /*@keyframes slidein {*/
    /*0% {*/
      /*left: -300px;*/
    /*}*/
    /*100% {*/
      /*left: 10px;*/
    /*}*/
  /*}*/
  /*@-moz-keyframes slideout {*/
    /*0% {*/
      /*left: 0;*/
    /*}*/
    /*100% {*/
      /*left: -300px;*/
    /*}*/
  /*}*/
  /*@-webkit-keyframes slideout {*/
    /*0% {*/
      /*left: 0;*/
    /*}*/
    /*100% {*/
      /*left: -300px;*/
    /*}*/
  /*}*/
  /*@keyframes slideout {*/
    /*0% {*/
      /*left: 0;*/
    /*}*/
    /*100% {*/
      /*left: -300px;*/
    /*}*/
  /*}*/
  /*!* Slide side menu*!*/
  /*!* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment *!*/
  /*.side-menu-container > .navbar-nav.slide-in {*/
    /*-moz-animation: slidein 300ms forwards;*/
    /*-o-animation: slidein 300ms forwards;*/
    /*-webkit-animation: slidein 300ms forwards;*/
    /*animation: slidein 300ms forwards;*/
    /*-webkit-transform-style: preserve-3d;*/
    /*transform-style: preserve-3d;*/
  /*}*/
  /*.side-menu-container > .navbar-nav {*/
    /*!* Add position:absolute for scrollable menu -> see top comment *!*/
    /*position: fixed;*/
    /*left: -300px;*/
    /*width: 300px;*/
    /*top: 43px;*/
    /*height: 100%;*/
    /*border-right: 1px solid #e7e7e7;*/
    /*background-color: #f8f8f8;*/
    /*-moz-animation: slideout 300ms forwards;*/
    /*-o-animation: slideout 300ms forwards;*/
    /*-webkit-animation: slideout 300ms forwards;*/
    /*animation: slideout 300ms forwards;*/
    /*-webkit-transform-style: preserve-3d;*/
    /*transform-style: preserve-3d;*/
  /*}*/
  /*!* Uncomment for scrollable menu -> see top comment *!*/
  /*!*.absolute-wrapper{*/
        /*width:285px;*/
        /*-moz-animation: slideout 300ms forwards;*/
        /*-o-animation: slideout 300ms forwards;*/
        /*-webkit-animation: slideout 300ms forwards;*/
        /*animation: slideout 300ms forwards;*/
        /*-webkit-transform-style: preserve-3d;*/
        /*transform-style: preserve-3d;*/
    /*}*!*/
  /*@-moz-keyframes bodyslidein {*/
    /*0% {*/
      /*left: 0;*/
    /*}*/
    /*100% {*/
      /*left: 300px;*/
    /*}*/
  /*}*/
  /*@-webkit-keyframes bodyslidein {*/
    /*0% {*/
      /*left: 0;*/
    /*}*/
    /*100% {*/
      /*left: 300px;*/
    /*}*/
  /*}*/
  /*@keyframes bodyslidein {*/
    /*0% {*/
      /*left: 0;*/
    /*}*/
    /*100% {*/
      /*left: 300px;*/
    /*}*/
  /*}*/
  /*@-moz-keyframes bodyslideout {*/
    /*0% {*/
      /*left: 300px;*/
    /*}*/
    /*100% {*/
      /*left: 0;*/
    /*}*/
  /*}*/
  /*@-webkit-keyframes bodyslideout {*/
    /*0% {*/
      /*left: 300px;*/
    /*}*/
    /*100% {*/
      /*left: 0;*/
    /*}*/
  /*}*/
  /*@keyframes bodyslideout {*/
    /*0% {*/
      /*left: 300px;*/
    /*}*/
    /*100% {*/
      /*left: 0;*/
    /*}*/
  /*}*/
  /*!* Slide side body*!*/
  /*.side-body {*/
    /*margin-left: 5px;*/
    /*margin-top: 70px;*/
    /*position: relative;*/
    /*-moz-animation: bodyslideout 300ms forwards;*/
    /*-o-animation: bodyslideout 300ms forwards;*/
    /*-webkit-animation: bodyslideout 300ms forwards;*/
    /*animation: bodyslideout 300ms forwards;*/
    /*-webkit-transform-style: preserve-3d;*/
    /*transform-style: preserve-3d;*/
  /*}*/
  /*.body-slide-in {*/
    /*-moz-animation: bodyslidein 300ms forwards;*/
    /*-o-animation: bodyslidein 300ms forwards;*/
    /*-webkit-animation: bodyslidein 300ms forwards;*/
    /*animation: bodyslidein 300ms forwards;*/
    /*-webkit-transform-style: preserve-3d;*/
    /*transform-style: preserve-3d;*/
  /*}*/
  /*!* Hamburger *!*/
  /*.navbar-toggle {*/
    /*border: 0;*/
    /*float: left;*/
    /*padding: 18px;*/
    /*margin: 0;*/
    /*border-radius: 0;*/
    /*!*background-color: #f3f3f3;*!*/
  /*}*/
  /*!* Search *!*/
  /*#search .panel-body .navbar-form {*/
    /*border-bottom: 0;*/
  /*}*/
  /*#search .panel-body .navbar-form .form-group {*/
    /*margin: 0;*/
  /*}*/
  /*.navbar-header {*/
    /*!* this is probably redundant *!*/
    /*position: fixed;*/
    /*z-index: 3;*/
    /*!*background-color: #f8f8f8;*!*/
  /*}*/
  /*!* Dropdown tweek *!*/
  /*#dropdown .panel-body .navbar-nav {*/
    /*margin: 0;*/
  /*}*/
/*}*/
body,html{
  height: 100%;
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main{
  padding: 10px 10px 0 10px;
}

/*@media (min-width: 765px) {*/

  /*.main{*/
    /*position: absolute;*/
    /*width: calc(100% - 40px);*/
    /*margin-left: 40px;*/
    /*float: right;*/
  /*}*/

  /*nav.sidebar:hover + .main{*/
    /*margin-left: 200px;*/
  /*}*/

  /*nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {*/
    /*margin-left: 0px;*/
  /*}*/

  /*nav.sidebar .navbar-brand, nav.sidebar .navbar-header{*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*margin-left: 0px;*/
  /*}*/

  /*nav.sidebar a{*/
    /*padding-right: 13px;*/
  /*}*/

  /*nav.sidebar .navbar-nav > li:first-child{*/
    /*border-top: 1px #e5e5e5 solid;*/
  /*}*/

  /*nav.sidebar .navbar-nav > li{*/
    /*border-bottom: 1px #e5e5e5 solid;*/
  /*}*/

  /*nav.sidebar .navbar-nav .open .dropdown-menu {*/
    /*position: static;*/
    /*float: none;*/
    /*width: auto;*/
    /*margin-top: 0;*/
    /*background-color: transparent;*/
    /*border: 0;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
  /*}*/

  /*nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{*/
    /*padding: 0 0px 0 0px;*/
  /*}*/

  /*.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {*/
    /*color: #777;*/
  /*}*/

  /*nav.sidebar{*/
    /*height: 100%;*/
    /*margin-left: -0px;*/
    /*float: left;*/
    /*margin-bottom: 0px;*/
  /*}*/

  /*nav.sidebar li {*/
    /*width: 100%;*/
  /*}*/

  /*nav.sidebar:hover{*/
    /*margin-left: 0px;*/
  /*}*/

  /*.forAnimate{*/
    /*opacity: 0;*/
  /*}*/
/*}*/

/*@media (min-width: 1330px) {*/

  /*.main{*/
    /*width: calc(100% - 200px);*/
    /*margin-left: 200px;*/
  /*}*/

  /*nav.sidebar{*/
    /*margin-left: 0px;*/
    /*float: left;*/
  /*}*/

  /*nav.sidebar .forAnimate{*/
    /*opacity: 1;*/
  /*}*/
/*}*/

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}

.navbar-inverse{
  background-color: #016185!important;
  border-color: transparent!important;
}
.material-icons{
  color: white;
  font-size: 20px
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #016185;;
  color: white;
  height : 125px;
  font-family: "Segoe UI", sans-serif;

}
.footer-text{
  font-size: small;
  font-family: "Segoe UI", sans-serif;
  color: white;
}
/*.footer {*/
  /*position: fixed;*/
  /*right: 0;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*top:90%;*/
  /*height:100px;*/
  /*background-color: #016185;*/
  /*text-align: left;*/
  /*color: white;*/
  /*font-family: "Segoe UI", sans-serif;*/
  /*font-size: small;*/

/*}*/

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

.top-nav.nav>li>a:focus, .top-nav>li>a:hover {
  text-decoration: none;
  background-color: #0da0db;
}
#circle {
  background: #f00;
  width: 88%;
  border-radius: 50%;

}
@-webkit-keyframes example {
  from {background-color: yellow;}
  to {background-color: red;}
}

/* Standard syntax */
@keyframes example {
  from {
    background-color: yellow;
    width:12px;height:12px;
    vertical-align: top;
  }
  to {
    background-color: red;
    width:15px;height:15px;
        }
}
.badge1 {
  position:relative;
}
.badge1[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-7px;
  right:0px;
  font-size:.6em;
  background:red;
  color:white;
  width:15px;height:15px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 0.5s;
  animation: example 0.5s infinite;
  padding-bottom: 16px;
}
