
<nav class="navbar " >
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="ui-g">
        <div class="ui-g-2">
          <img src="../../assets/logo_0.png" alt="">

        </div>
        <div class="ui-g-10">
          <span style="    display: block;font-size: 16px;color: #6e6e6f;padding-left: 5%;font-family: 'Segoe UI',sans-serif;">Ministerul Justiției al Republicii Moldova</span>
          <span style="    display: block;font-size: 17px;color: black;padding-left: 5%;font-family: 'Segoe UI',sans-serif;font-weight: 500">Sistemul Informatic Național e-Executor</span>

        </div>

      </div>

    </div>
    <ul class="nav navbar-nav navbar-right" style="padding-top: 1%">
      <li><a (click)="LogOut()" style="padding-bottom: 0!important;cursor: pointer"><i class="material-icons" style="color: #1e439b;font-size: 20px">exit_to_app</i></a></li>
    </ul>

  </div>
</nav>
<nav class="navbar " style="background-color: #016185">
  <div class="container-fluid">
    <ul class="nav navbar-nav top-nav">
      <li [routerLinkActive]="['active']" class="routerDash" [ngClass]="{active: isActive('organizatii')}" (click)="checkValue('organizatii')">
        <a routerLink="organization" class="routerDash">
          <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400;color: white">Organizații</span>
        </a>
      </li>
      <li [routerLinkActive]="['active']" class="routerDash" [ngClass]="{active: isActive('users')}" (click)="checkValue('users')">
        <a routerLink="users" class="routerDash">
          <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400;color: white">Utilizatori</span>
        </a>
      </li>
      <!--<li [routerLinkActive]="['active']" class="routerDash" [ngClass]="{active: isActive('profiles')}" (click)="checkValue('profiles')">-->
        <!--<a routerLink="profiles" class="routerDash">-->
          <!--<span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 400;color: white">Profile</span>-->
        <!--</a>-->
      <!--</li>-->
      <li >
        <a class="dropdown dropdown-toggle"  [routerLinkActive]="['active']" [ngClass]="{active: isActive('Grupe')}" (click)="checkValue('Grupe')"  data-toggle="dropdown" href="#" style="color: white">Grupe de taxe
          <span class="caret" style="border: 0px!important;"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a (click)="typeCategorySpeze()">Speze</a>
          </li>
          <li>
            <a (click)="typeCategoryTaxe()">Taxe</a>
          </li>
          <li>
            <a (click)="typeCategoryAltele()">Altele</a>
          </li>
        </ul>
      </li>

      <li >
        <a class="dropdown dropdown-toggle"  [routerLinkActive]="['active']" [ngClass]="{active: isActive('Nomenclatoare')}" (click)="checkValue('Nomenclatoare')"  data-toggle="dropdown" href="#" style="color: white">Nomenclatoare
          <span class="caret" style="border: 0px!important;"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="nomenclatorBanks">Banks</a></li>
          <li><a  routerLink="workFunctions">Work Functions</a></li>
          <li><a routerLink="payment">Payment mode</a></li>
          <li><a routerLink="nomenclatorCities">City</a></li>
          <li><a routerLink="object-execution">Object execution</a></li>
          <li><a routerLink="instanseEmitent">Instance emitent</a></li>
          <li><a routerLink="priority">Priority</a></li>
          <li><a routerLink="tip-document">Tip document</a></li>
          <li><a routerLink="profiles" class="routerDash"><span>Profile</span></a></li>
        </ul>
      </li>

      <li >
        <a class="dropdown dropdown-toggle"  [routerLinkActive]="['active']" [ngClass]="{active: isActive('Grupe')}" (click)="checkValue('Grupe')"  data-toggle="dropdown" href="#" style="color: white">Roluri
          <span class="caret" style="border: 0px!important;"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="roles">Roluri</a></li>
          <li><a>Profile per Roluri</a></li>
          <li><a>Permisiuni per Roluri</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
<div class="col-md-1"></div>
  <div class="col-md-10" style="margin-left: 0!important; padding-left: 0;padding-top: 0!important;padding-right: 0!important;">
    <router-outlet></router-outlet>
  </div>
<div class="col-md-1"></div>

<!--<div class="footer">-->
  <!--Copyright Ministerul Justiției al Republicii Moldova-->
  <!--<br>-->
  <!--&lt;!&ndash;Agenția de Administrare a Instanțelor Judecătorești 2017.&ndash;&gt;-->
<!--</div>-->
