<div class="row" style="margin-right: 0!important;margin-left: 0!important;">
  <div class="col-md-6">
    <span style="font-size: xx-large;font-family: 'Segoe UI',sans-serif;font-weight: 600">Servicii</span>
  </div>
  <div class="col-md-6">
    <button pButton type="button" (click)="showDialog(speze)" label="Crează categorie" style="float: right;margin-top: 1%"  class="ui-button-success"></button>

    <!--<button type="button" class="btn btn-default"  (click)="showDialog(speze)" style="float: right;margin-top: 1%" >Crează categorie</button>-->
  </div>
</div>
<hr style="width: 98%">
<div class="container" style="max-width: 100%;width: 100%!important;">
  <p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner"  [paginator]="true" [value]="services"
               [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true"  [immutable]=false >

    <p-column  [style]="{'width':'15%'}" field="licence_code">
      <ng-template pTemplate="header">
        Articol
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['articol']}}
      </ng-template>
    </p-column>

    <p-column  [style]="{'width':'15%'}" field="licence_code">
      <ng-template pTemplate="header">
        Denumire acțiunii
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['name']}}
      </ng-template>
    </p-column>

    <p-column  [style]="{'width':'15%'}" field="name"   >
      <ng-template pTemplate="header">
        Taxa
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['value_fee']}}
      </ng-template>
    </p-column>


    <p-column  [style]="{'width':'15%'}" field="name">
      <ng-template pTemplate="header">
        Tip taxa
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        <!--{{ con['fix_fee']}}-->
        <span *ngIf="con['fix_fee'] == true"> fixă</span>
        <span *ngIf="con['fix_fee'] == false"> variabilă</span>

      </ng-template>
    </p-column>

    <p-column  [style]="{'width':'15%'}" field="name"   >
      <ng-template pTemplate="header">
        Unitatea de masura
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">
        {{con['unit']}}
      </ng-template>
    </p-column>

    <p-column  [style]="{'width':'20%'}"    >
      <ng-template pTemplate="header">
        Acțiuni
      </ng-template>
      <ng-template let-col  let-con="rowData" pTemplate="body">

        <button  class="btn btn-default" style="background-color: white!important;width: 23%;text-align: center" (click)="showDialog(con)">
          <span style="color: #1e439b" class="glyphicon glyphicon-edit" ></span>
        </button>
        <!--<button class="btn btn-default" style="background-color: white!important;width: 23%" (click)="serviciiSpezeNavigate(con['id'])" disabled>-->
          <!--<span style="color: #1e439b" class="glyphicon glyphicon-plus" ></span>-->
        <!--</button>-->
      </ng-template>
    </p-column>
    <!--</p-row>-->
  </p-dataTable>

</div>
<p-confirmDialog></p-confirmDialog>
<p-dialog header="Categorie" [(visible)]="display" modal="modal" width="500" [responsive]="true" >
  <div class="ui-g">
    <div class="ui-g-4">
      <span>Articol</span>
    </div>
    <div class="col-md-8">
      <input type="text"  class="form-control" value="&nbsp;" name="code" style="width:50%!important;border: solid 1px lightgray;height: 2rem" [(ngModel)]="edit_speze.articol"/>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4">
      <span>Denumirea acțiunii</span>
    </div>
    <div class="col-md-8">
      <textarea rows="4" cols="50" style="width: 100%" [(ngModel)]="edit_speze.name">

      </textarea>
    </div>
  </div>




  <div class="ui-g">
    <div class="ui-g-4">
      <span>Taxa</span>
    </div>
    <div class="col-md-8">
      <input type="number"  class="form-control" value="&nbsp;" name="code" style="width:100%!important;border: solid 1px lightgray;height: 2rem" [(ngModel)]="edit_speze.value_fee" placeholder=1/>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4">
      <span>Tip taxa</span>
    </div>
    <div class="col-md-8">
      <div class="radio" style="opacity: 1!important;"   >
        <label>
          <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;"  type='radio' (change)="onSelectionPaymentChange('1')" name="optradio1"  [checked]="edit_speze['fix_fee']" />
          <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">fixă</span>
        </label>
        <label>
          <input style="opacity: 1!important;vertical-align: sub!important;margin-top: 0.4rem!important;" type='radio' (change)="onSelectionPaymentChange('2')" name="optradio2"  [checked]="!edit_speze['fix_fee']" />
          <span style="font-size: medium;font-family: 'Segoe UI',sans-serif;color: black">variabilă</span>
        </label>
      </div>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4">
      <span>Unitatea de masura</span>
    </div>
    <div class="col-md-8">
      <input type="text"  class="form-control" value="&nbsp;" name="code" style="width:100%!important;border: solid 1px lightgray;height: 2rem" [(ngModel)]="edit_speze.unit" placeholder="lei"/>
    </div>
  </div>

  <p-footer>
    <button type="button" pButton icon="fa-check"  label="Salvează" (click)="saveSpeze()"></button>
    <button type="button" pButton icon="fa-close"  label="Anulează" (click)="dismissModal()"></button>
  </p-footer>
</p-dialog>
