<br>
    <p class="main_title">Filtre de cautare</p>


<table style="width:60%">
  <tr>
    <td><span class="main_title">Data de la:</span></td>
    <td><p-calendar name="from" class="datepickerTo"  [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="1995:2050"  [maxDate]="maxDateDosar" dateFormat="dd.mm.yy" [(ngModel)]="date_from"></p-calendar></td>
    <td><span class="main_title">pînă la:</span></td>
    <td><p-calendar name="from" class="datepickerFrom"  [locale]="ro" showIcon="true" monthNavigator="true" yearNavigator="true" yearRange="1995:2050"   dateFormat="dd.mm.yy" [(ngModel)]="date_to"></p-calendar></td>

  </tr>
  <tr>
    <td><span class="main_title" style="vertical-align: sub;">Debitor</span></td>
    <td><input type="text"  placeholder="debitor" style="height: 2rem;border-radius: 3px;border: 1px solid lightgrey;font-family: 'Segoe UI',sans-serif" [(ngModel)]="debitor"></td>
  </tr>
  <tr>
    <td><span class="main_title" >Creditor</span></td>
    <td><input type="text"  placeholder="creditor" style="height: 2rem;border-radius: 3px;border: 1px solid lightgrey;font-family: 'Segoe UI',sans-serif" [(ngModel)]="creditor"></td>
  </tr>
</table>
<button pButton type="button"  label="Resetare" class="ui-button-success" (click)="resetTableArray()" style="float: right"></button>


<button pButton type="button"  label="Descarca document" class="ui-button-info" style="float: right" (click)="downloadPdf()" [disabled]="showSaveDocButton"></button>

<button pButton type="button"  label="Cautare" style="float: right" (click)="loadRegistryData()"></button>

<br><br>
<p-dataTable sortMode="multiple" [loading]="loading" loadingIcon="fa fa-spinner"  [globalFilter]="gb" #dt [value]="registerData" [paginator]="true"
             [scrollable]="true" [rows]="10"  [totalRecords]="total_records" [responsive]="true" [immutable]=false>

  <p-column  [style]="{'width':'5%'}"  field="number" >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">N/o</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body" let-i="rowIndex" let-line>
      {{i+1}}
    </ng-template>
  </p-column>


  <p-column  [style]="{'width':'10%'}" field="procedura"    >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Nr.procedurii {{currentDate}}</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['codeCase']}}
    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'9%'}" field="datareg"    >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Data înregistrării</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['created']}}
    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'20%'}" field="emitent"   >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Denumirea Organului emitent,numărul și data documentului executoriu</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['emitent']}}
    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'9%'}" field="debitor"  >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Debitor</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['debitorName']}}
    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'9%'}" field="creditor"  field="code_case"  >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Creditor</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['creditorName']}}
    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'10%'}" field="Procedura"  field="code_case"  >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Obiectul executării</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      {{con['objectExecution']}}
    </ng-template>
  </p-column>

  <p-column  [style]="{'width':'10%'}"  >
    <ng-template pTemplate="header">
      <span style="font-family: 'Segoe UI',sans-serif;font-size: medium;font-weight: 500">Mențiuni</span>
    </ng-template>
    <ng-template let-col  let-con="rowData" pTemplate="body">
      <div class="text-center">
        <button pButton type="button"  label="Mențiuni" class="ui-button-info" (click)="showDialog(con)"></button>
      </div>
    </ng-template>
  </p-column>

</p-dataTable>

<p-dialog header="Mențiuni" [(visible)]="display" modal="modal" width="300" [responsive]="true" >
  <textarea pInputTextarea style="width: 100%;height: 100px" [(ngModel)]="mentions"></textarea>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="saveMention()" label="Sălvează"></button>
    <button type="button" pButton icon="fa-close" (click)="display=false" label="Renunță"></button>
  </p-footer>
</p-dialog>
