.main_title{
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  color: black;
  font-size: large;
}
.datepickerTo .ng-tns-c5-55 .ng-tns-c3-0{
  height: 2rem !important;
}
td{
  padding: 3px;
}
