/* You can add global styles to this file, and also import other style files */

@media (max-width: 767px){
  .ui-datatable-reflow .ui-datatable-data > tr > td{
    display: grid!important;
  }
}

.loader {
  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 20px solid #3498db;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: spin 2s linear infinite; / Safari /
animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tablechildcomponent .ui-datatable .ui-datatable-data > tr > td{
  padding: 0.35rem;
  /*background-color: red;*/
}
.datepickerTo .ng-tns-c3-0{
  height: 2rem!important;
}
.datepickerFrom .ng-tns-c3-1{
  height: 2rem!important;
}
.fc-content .fc-day-grid-event {
  white-space: initial!important;
  overflow: hidden;
}
a.fc-event{
  height: auto;
  white-space: initial!important;

}
div .fc-content{
  white-space: initial!important;

}

